 @charset "utf-8";

@import url('bootstrap.min.css');
@import url('owl.carousel.css');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family="Quicksand", sans-serif:100,300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,600;1,700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif !important;
    font-size: 13px;
    color: #3a3a3a;
    font-weight: 400;
}

* {
    margin: 0px;
    padding: 0px;
}

.clearfix {
    *zoom: 1;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}

.clearfix:after {
    clear: both;
}

.clr,
.clear {
    clear: both;
}

header,
footer,
aside,
article,
section,
detail,
nav,
figure {
    position: relative; 
}

c {
    margin: 0;
    padding: 0;
}

ul,
li,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    outline: none;
}

a:hover,
a:focus {
    text-decoration: none !important;
    outline: none;
}

img {
    border: 0;
    outline: none;
    max-width: 100%; 
}

input[type="text"],
input[type="password"],
select,
textarea,
input[type="button"] {
    max-width: 100%;
}

table {  width: 100%; }
p { margin: 0; padding: 0; }
.fltL { float: left; }
.fltR { float: right; }
.padding_none { padding: 0 !important;}
.border_none{border:none !important}
.navbar-toggle {  background-color: #fff !important; }
.icon-bar { background-color: #000 !important; }
.p_right0{ padding-right:0px !important }
.p_left0{ padding-left:0px !important } 

.Header{width:100%;padding:5px 0;transition:0.5s all ease-in-out;background:#fff;animation:0.7s ease 0s normal none 1 running;position:fixed;transition:all 0.5s ease-in-out;top:0;left:0;width:100%;z-index:99;box-shadow:0 2px 4px 0 rgba(0,0,0,.16);box-shadow:0 2px 4px 0 rgba(0,0,0,.16)}.Header .navbar{border:none;margin:0;border-radius:0;z-index:99;position:relative;min-height:inherit}.Header .navbar .navbar-brand{padding:0;width:150px;margin:0;height:auto}.Header .navbar .navbar-nav{margin:15px 0 15px 15px}.Header .navbar .navbar-nav li{margin:0 15px 0 0;position:relative}.Header .navbar .navbar-nav li a{color:#fff;font-size:14px;background:transparent;padding:0 0;position:relative;text-transform:capitalize;transition:all 0.5s ease-in-out;font-weight:400;font-family:Quicksand;background:#084d87;padding:6px 12px;border-radius:5px}.logoIn.star span{font-size:15px;position:absolute;bottom:5px;left:11px}.Header .navbar .navbar-nav li:last-child{margin:0}.Header .navbar .navbar-nav li a:hover,.btns .buttons:hover{color:#fff;background:#00a94f}.Header .navbar .navbar-nav.navbar-right{position:relative;top:-5px}.Header .navbar .navbar-nav.navbar-right li{margin:0 0 0 10px}.Header .navbar .navbar-nav.navbar-right li a{padding:10px 15px;border-radius:50px;color:#fff;font-size:14px;text-transform:inherit;background-color:#fbaf31}.Header .navbar .navbar-nav.navbar-right li a:hover{background-color:#00a94f;color:#fff}.Fixed{animation:0.7s ease 0s normal none 1 running;position:fixed;transition:all 0.5s ease-in-out;top:0;left:0;width:100%;z-index:99;border:none;box-shadow:0 2px 4px 0 rgba(0,0,0,.16)}.Header .navbar .navbar-brand p{color:#000!important;font-size:12px;font-family:"Quicksand",sans-serif;margin:0 0 0 17px;line-height:12px;font-weight:500}.Fixed:before{content:"";position:absolute;top:0;left:0;width:100%;height:100%;z-index:1}

@keyframes slide-down{
    0%{opacity:0;transform:translateY(-100%)}
    100%{opacity:.9;transform:translateY(0)}
}

.SliderArea{background-repeat:repeat-x;position:relative;padding:95px 0 10px 0;background-position:0% 0%}.SliderArea:before{content:"";position:absolute;top:0;left:0;width:100%;height:100%;z-index:1}

@keyframes animate {
    form {
        background-position: 0;
    }
    to {
        background-position: 2000px;
    }
}
.SliderArea .SliderText{position:relative;z-index:2;color:#fff;font-family:"Quicksand",sans-serif}.SliderArea .SliderText h3{font-family:"Quicksand",sans-serif;font-weight:800;font-size:25px;margin:0 0 9px;line-height:29px;color:#000}.SliderArea .SliderText h3 span{color:#fbaf31}.SliderArea .SliderText h4{margin:0 0 5px 0;font-weight:800;line-height:17px;font-size:16px;color:#000}.SliderArea .SliderText ul li{display:inline-block;font-weight:600;font-size:11px}.SliderArea .SliderText ul li a{color:#fff}.SliderArea .DownloadApp{position:relative;bottom:2px;z-index:2;padding:0 0;display:flex}.SliderArea .DownloadApp .download-btn{border-radius:6px;overflow:hidden;margin:0 15px 0 0}.SliderArea .DownloadApp .download-btn span{width:158px;height:46px;display:block}.SliderArea .DownloadApp .download-btn span img{width:100%;height:100%;object-fit:cover}.SliderArea .DownloadApp .download-btn p{font-size:15px;font-weight:500;color:#fff;margin:0;line-height:18px}.SliderArea .DownloadApp .download-btn p small{font-size:13px;line-height:12px;font-family:"Quicksand",sans-serif;font-weight:500}.SliderArea .DownloadApp a:hover{background:#fff}.SliderArea .DownloadApp a:hover span{color:#1f4f78}.SliderArea .DownloadApp a:hover p{color:#1f4f78}.AdvertisementArea{padding:0 0 10px;background-color:#f5f7f6;text-align:center}.AdvertisementArea h1{font-family:"Quicksand",sans-serif;font-weight:800;color:#000;font-size:28px;border-left:5px solid #084d87;padding:0 0 0 16px;margin:0 0 20px 0}.AdvertisementArea h1 a{float:right;font-size:16px;margin:7px 0;text-transform:capitalize;color:#000}.AdvertisementArea h1 a:hover{color:#fbaf31}.AdvertisementArea #Advertisement .item{padding:10px}.AdvertisementArea .AdvertisementBox{border:5px solid #fff;box-shadow:0 1px 8px #ddd;background-color:#fff;width:100%;margin:auto;height:200px}.AdvertisementArea .AdvertisementBox figure,.AdvertisementArea .AdvertisementBox figure a,.AdvertisementArea .AdvertisementBox figure a img{height:100%;display:block}.AdvertisementArea .AdvertisementBox p{padding:10px 10px;font-size:14px;line-height:25px;font-family:"Quicksand",sans-serif}.AdvertisementArea #Advertisement .owl-dots{margin:10px 0 0 0}.AdvertisementArea #Advertisement .owl-dots .owl-dot{width:12px;height:12px;background-color:#c7c7c7;margin:0 7px;border-radius:50px;outline:0}.AdvertisementArea #Advertisement .owl-dots .owl-dot span{display:none}.AdvertisementArea #Advertisement .owl-dots .owl-dot.active{background:#084d87}.CompanyArea{padding:30px 0 0;background-color:#fff;background:#f5f7f6}.CompanyArea h1{font-family:"Quicksand",sans-serif;font-weight:800;color:#000;font-size:28px;border-left:5px solid #084d87;padding:0 0 0 16px;margin:0 0 10px 0}.CompanyArea h1 a{float:right;font-size:16px;margin:7px 0;text-transform:capitalize;color:#000}.CompanyArea h1 a:hover{color:#fbaf31}.CompanyArea h2{font-size:14px;font-weight:400;line-height:24px;color:#000;font-family:"Quicksand",sans-serif;margin:0 0 15px 0}.CompanyArea #Company .item{padding:10px 5px}.CompanyArea #Company .owl-nav .owl-prev,.CompanyArea #Company .owl-nav .owl-next,#Advertisement .owl-nav .owl-prev,#Advertisement .owl-nav .owl-next{width:50px;height:50px;background-color:#fff;border-radius:50%;font-weight:500;box-shadow:none;box-shadow:0 2px 6px 2px rgba(0,0,0,.16);font-size:28px;position:absolute;top:0;bottom:0;margin:auto;opacity:1;outline:0}
#Advertisement .owl-nav .owl-prev.disabled,#Advertisement .owl-nav .owl-prev.disabled:hover,
#Advertisement .owl-nav .owl-next.disabled,#Advertisement .owl-nav .owl-next.disabled:hover,
.CompanyArea #Company .owl-nav .owl-prev.disabled,.CompanyArea #Company .owl-nav .owl-prev.disabled:hover,
.CompanyArea #Company .owl-nav .owl-next.disabled,.CompanyArea #Company .owl-nav .owl-next.disabled:hover,
.Expertise #Expertise .owl-nav .owl-next.disabled,.Expertise #Expertise .owl-nav .owl-next.disabled:hover,
.Expertise #Expertise .owl-nav .owl-prev.disabled,.Expertise #Expertise .owl-nav .owl-prev.disabled:hover,
.CityArea #City .owl-nav .owl-prev.disabled,.CityArea #City .owl-nav .owl-prev.disabled:hover,
.CityArea #City .owl-nav .owl-next.disabled,.CityArea #City .owl-nav .owl-next.disabled:hover,
.SearchTop #searchCom .owl-nav .owl-next.disabled,.SearchTop #searchCom .owl-nav .owl-next.disabled:hover,
.SearchTop #searchCom .owl-nav .owl-prev.disabled,.SearchTop #searchCom .owl-nav .owl-prev.disabled:hover{ background: #ccccccc9 !important; color: #fff !important; }
.ExpertiseArea .owl-carousel .owl-nav .owl-next.disabled,.ExpertiseArea .owl-carousel .owl-nav .owl-prev.disabled{background:#ccc!important;color:#fff!important}.CompanyArea #Company .owl-nav .owl-prev,#Advertisement .owl-nav .owl-prev{left:-15px;top:-30px}.CompanyArea #Company .owl-nav .owl-next,#Advertisement .owl-nav .owl-next{right:-15px;top:-30px}#Advertisement .owl-nav .owl-next,#Advertisement .owl-nav .owl-prev{top:0}.CompanyArea .CompanyBox{background-color:#fff;text-align:center;border:1px solid #e6e6e6;border-radius:10px;margin:0 0 30px 0}.CompanyArea .CompanyBox h3{color:#000;font-size:19px;margin:0 0 15px 0;font-family:"Quicksand",sans-serif}.CompanyArea .CompanyBox p{font-size:14px;font-family:"Quicksand",sans-serif;color:#5d5b5b;margin:0 0 13px 0}.CompanyArea .CompanyBox p span{color:#00a94f;font-weight:500}.AdvertisementBox figure img{height:100%}.CompanyArea .CompanyBox figure{height:150px;overflow:hidden}.CompanyArea .CompanyBox figure a{display:block;height:100%}.CompanyArea .CompanyBox figure img{width:100%;height:100%;object-fit:cover}.CompanyArea .CompanyBox figcaption{padding:20px 20px}.CompanyArea .CompanyBox figcaption h3{color:#000;font-size:17px;margin:0 0 15px 0;font-family:"Quicksand",sans-serif;font-weight:600;line-height:25px;min-height:50px;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden}.CompanyArea .CompanyBox figcaption h3 a{color:#343434;font-family:"Quicksand",sans-serif}.CompanyArea .CompanyBox figcaption h3 a:hover{color:#084d87}.CompanyArea .CompanyBox figcaption p{font-size:14px;font-family:"Quicksand",sans-serif;color:#5d5b5b;margin:0}.CompanyArea .CompanyBox figcaption p i{margin:0 5px 0 0}.CompanyArea .CompanyBox figcaption p span{color:#00a94f;font-weight:500}.CityArea{padding:30px 0 0}.CityArea h1{font-family:"Quicksand",sans-serif;font-weight:800;color:#000;font-size:28px;border-left:5px solid #084d87;padding:0 0 0 16px;margin:0 0 10px 0}.CityArea h1 a{float:right;font-size:16px;margin:7px 0;text-transform:capitalize;color:#000}.CityArea h1 a:hover{color:#fbaf31}.CityArea h2{font-size:14px;font-weight:400;line-height:24px;color:#000;font-family:"Quicksand",sans-serif;margin:0 0 15px 0}.CityArea #City .item{padding:10px 5px}.CityArea .CityBox{cursor:pointer;margin:0 0 30px 0}.CityArea .CityBox figure{height:155px;overflow:hidden}.CityArea .CityBox figure a{display:block;height:100%}.CityArea .CityBox figure a img{height:100%;width:100%}.CityArea .CityBox figcaption{padding:15px 20px;font-family:"Quicksand",sans-serif;box-shadow:0 3px 6px #ddd;border-radius:0 0 5px 5px;background-color:#fff}.CityArea .CityBox figcaption h5{margin:0 0 2px;font-size:19px;font-family:"Quicksand",sans-serif;font-weight:600}.CityArea .CityBox figcaption p{margin:0;font-size:15px;font-weight:500}h1.Title{font-family:"Quicksand",sans-serif;font-weight:800;color:#000;font-size:28px;border-left:5px solid #084d87;padding:0 0 0 16px;margin:0 0 10px 0}h1.Title a{float:right;font-size:16px;margin:7px 0;text-transform:capitalize;color:#000}h1.Title a:hover{color:#fbaf31}.ExpertiseArea{padding:0 0 0;background-color:#fff}.ExpertiseArea h2{font-size:14px;font-weight:400;line-height:24px;color:#000;font-family:"Quicksand",sans-serif;margin:0 0 15px 0}.ExpertiseArea .item{padding:15px}.ExpertiseArea .ExpertiseBox{padding:40px 30px 35px 30px;position:relative;overflow:hidden;text-align:center;background:#fff;border:1px solid #e8eef1;-webkit-transition:all 300ms linear;-o-transition:all 300ms linear;transition:all 300ms linear;border-radius:6px;-webkit-border-radius:6px;-moz-border-radius:6px;-ms-border-radius:6px;-o-border-radius:6px;-webkit-box-shadow:0 0 30px 0 rgba(0,0,0,.05);box-shadow:0 0 30px 0 rgba(0,0,0,.05);font-family:"Quicksand",sans-serif;cursor:pointer;margin:0 0 30px 0}.ExpertiseArea .ExpertiseBox figure{margin:0 auto 20px;width:40px;height:40px}.ExpertiseArea .ExpertiseBox a h3,.ExpertiseArea .ExpertiseBox h3{margin:0 0 5px;font-weight:500;text-transform:capitalize;font-size:16px;font-family:"Quicksand",sans-serif;font-weight:600}.ExpertiseArea .ExpertiseBox a p,.ExpertiseArea .ExpertiseBox p{font-size:14px;color:#11b719;font-family:"Quicksand",sans-serif}.ExpertiseArea .ExpertiseBox span.Icon{color:#e8e8e8;position:absolute;bottom:5px;visibility:hidden;pointer-events:none;opacity:0;filter:alpha(opacity=0);left:5px;-webkit-transition:all 300ms linear;-o-transition:all 300ms linear;transition:all 300ms linear;width:35px;height:35px}.ExpertiseArea .ExpertiseBox span.Icon img{width:100%}.ExpertiseArea .ExpertiseBox:hover span.Icon{bottom:15px;visibility:visible;pointer-events:auto;left:15px;opacity:.4;filter:alpha(opacity=100)}.JobArea{padding:30px 0 0}.JobArea h1.Title span{display:inline-block;width:30px;filter:brightness(0)}
.JobArea .JobHead{margin:10px 0 15px 0}.JobArea .JobHead h2{font-size:14px;font-weight:400;line-height:24px;color:#000;font-family:"Quicksand",sans-serif;margin:0 0 -5px 0}.JobArea .JobHead ul.nav-tabs{margin:40px 0 0 0;border:none;display:flex}.JobArea .JobHead ul.nav-tabs li{margin:0 5px 0 0}.JobArea .JobHead ul.nav-tabs li a{background-color:#e6e6e6;border-radius:0;padding:16px 2px 5px 1px;border:none;color:#000;font-weight:500;font-size:10px;cursor:pointer;margin:0;width:71px;text-align:center;text-transform:capitalize;display:flex;align-items:center;justify-content:center;min-height:79px}.JobArea .JobHead ul.nav-tabs li a span{position:absolute;width:38px;height:38px;background-color:#e6e6e6;padding:6px;border-radius:50%;top:-18px}.JobArea .JobHead ul.nav-tabs li a span img{filter:brightness(0)}.JobArea .JobHead ul.nav-tabs li a:hover{background-color:#fbaf31;color:#fff}.JobArea .JobHead ul.nav-tabs li a:hover span{background-color:#fbaf31}.JobArea .JobHead ul.nav-tabs li a:hover span img{filter:brightness(0) invert(1)}.JobArea .JobHead ul.nav-tabs li.active a{background-color:#00a94f;color:#fff}.JobArea .JobHead ul.nav-tabs li.active a span{background-color:#00a94f}.JobArea .JobHead ul.nav-tabs li.active a span img{filter:brightness(0) invert(1)}.JobArea .JobBody .JobSlider .item{padding:20px 11px}.JobArea .JobBody h1{font-family:"Quicksand",sans-serif;font-weight:800;color:#000;font-size:28px;margin:0;text-transform:capitalize;text-align:center}.JobArea .JobBody h1 a{font-size:16px;margin:0 0 0 10px;text-transform:capitalize;color:#424040;text-decoration:underline}.JobArea .JobBody h1 a:hover{color:#00a94f}.JobsBox{box-shadow:0 3px 6px #ddd}.JobsBox figure{background-color:#000;height:200px;overflow:hidden}.JobsBox figure a{display:block;height:100%}.JobsBox figure a img{height:100%}.JobsBox figure span.Logo{position:absolute;top:5px;left:5px;width:85px;background:#ffffffe6;padding:5px 10px}.JobsBox figure span.Distance{position:absolute;right:10px;bottom:10px;background-color:#00a94f;padding:5px 15px;color:#fff;border-radius:5px}.JobsBox figcaption{padding:15px;font-family:"Quicksand",sans-serif;border-radius:0 0 5px 5px}.JobsBox figcaption .Distance{float:right;background-color:#00a94f;color:#fff;padding:4px 8px;border-radius:5px;font-size:11px;font-family:"Quicksand",sans-serif;margin:0 -5px 0 5px}.JobsBox figcaption .Distance i{font-size:9px;margin:0 2px 0 0}.JobsBox figcaption h3{margin:0 0 8px 0}.JobsBox figcaption h3 a{display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;color:#696969;font-size:14px;line-height:21px;font-family:"Open Sans",sans-serif;font-weight:600}.JobsBox figcaption h3 a:hover{color:#000}.JobsBox figcaption h4{font-size:17px;color:#00a94f;margin:0 0 10px 0;display:-webkit-box;-webkit-line-clamp:1;-webkit-box-orient:vertical;overflow:hidden}.JobsBox figcaption h4 a{color:#00a94f}.JobsBox figcaption h5{margin:0 0 7px 0;font-size:15px}.JobsBox figcaption p{font-size:14px;margin:0 0 15px 0;display:-webkit-box;-webkit-line-clamp:1;-webkit-box-orient:vertical;overflow:hidden}.JobsBox figcaption ul{margin:0 0 20px 0;min-height:55px}.JobsBox figcaption ul li{display:inline-block;font-family:"Quicksand",sans-serif;font-weight:500;color:#000;margin:0 15px 5px 0;position:relative}.JobsBox figcaption ul li+li:before{content:"|";position:absolute;left:-9px;top:0;color:#000}.JobsBox figcaption ul li img{width:20px!important;display:inline-block!important;filter:brightness(0);opacity:.5}.JobsBox figcaption a.GetJob{background-color:#fbaf31;color:#fff;padding:10px 25px;border-radius:50px;font-family:"Quicksand",sans-serif;font-size:14px;width:140px;margin:auto;display:block;text-align:center}.JobsBox figcaption a.GetJob:hover{background-color:#00a94f}.SearchArea{padding:15px 0 15px}.SearchArea h1{font-family:"Quicksand",sans-serif;font-weight:800;color:#000;font-size:22px;border-left:5px solid #084d87;padding:0 0 0 16px;margin:0 0 12px 0}.SearchArea h1 a{font-size:15px;color:#000;margin:0 0 0 5px}.SearchArea h1 span{font-size:12px;font-family:"Quicksand",sans-serif;font-weight:500;opacity:.8}.SearchArea .SearchLeft form{background-color:#f5f5f5;padding:30px 15px}.SearchArea .SearchLeft form .form-group{margin:0 0 20px 0;position:relative}.SearchArea .SearchLeft form .form-group label{display:block;font-weight:500;font-size:14px;font-family:"Quicksand",sans-serif}.SearchArea .SearchLeft form .form-group .form-control{box-shadow:none;height:40px;padding:7px 15px;margin:0;font-family:"Quicksand",sans-serif;font-weight:400}.SearchArea .SearchLeft form .form-group .Icon{position:absolute;right:25px;width:18px;top:35px}.SearchArea .SearchLeft form .form-group .Icon.loctrack:before{content:none}.SearchArea .SearchLeft form .form-group #txtPlaces{padding:7px 35px 7px 15px}.SearchArea .SearchLeft form .form-group .LevelTags h6{display:block;font-weight:500;font-size:14px;font-family:"Quicksand",sans-serif;margin:0 0 10px}.SearchArea .SearchLeft form .form-group .LevelTags ul{margin:0 0 -10px 0}.SearchArea .SearchLeft form .form-group .LevelTags ul li{display:inline-block;margin:0 10px 10px 0;position:relative}.SearchArea .SearchLeft form .form-group .LevelTags ul li .Checkbox input{margin:0;position:absolute;top:0;width:100%;height:100%;opacity:0;cursor:pointer}.SearchArea .SearchLeft form .form-group .LevelTags ul li .Checkbox label{padding:5px 8px;background:#fff;color:#747474;border-radius:3px;font-size:13px;margin:0;min-width:50px;text-align:center;font-weight:400;border:1px solid #ccc;cursor:pointer}.SearchArea .SearchLeft form .form-group .LevelTags ul li .Checkbox input[type="checkbox"]:checked+label,.SearchArea .SearchLeft form .form-group .LevelTags ul li .Checkbox .Checked+label{background:#084d87;border-color:#084d87;color:#fff}.SearchArea .SearchLeft form button{border:none;padding:12px 40px;transition:0.5s all ease-in-out;font-weight:500;display:inline-block;position:relative;background-color:#fbaf31;font-size:15px;color:#fff;outline:0}.SearchArea .SearchLeft form button:hover{background:#00a94f}.SearchArea .SearchRight{height:505px;width:100%}.SearchArea .SearchRight #map{width:100%;height:100%!important}.Footer .FooterTop{background-color:#111;padding:50px 0}.Footer .FooterTop .Foot figure{width:160px;margin:0 0 20px 0}.Footer .FooterTop .Foot p{padding:0 0 0 20px;position:relative;margin:0 0 10px;color:#adabab;font-family:"Quicksand",sans-serif;line-height:24px}.Footer .FooterTop .Foot p span{position:absolute;top:0;left:0}.Footer .FooterTop .Foot p a{color:#fff}.Footer .FooterTop .Foot h6{margin:0 0 0;font-size:25px;font-family:"Quicksand",sans-serif;color:#fff;font-weight:800}.Footer .FooterTop .Foot h3{margin:0 0 15px;font-size:25px;font-family:"Quicksand",sans-serif;color:#fff;font-weight:800}.Footer .FooterTop .Foot ul{padding:0 0 0 20px}.Footer .FooterTop .Foot ul li{margin:0 0 15px;list-style:disc;color:#c7c7c7}.Footer .FooterTop .Foot ul li a{color:#c7c7c7;font-size:14px;font-family:"Quicksand",sans-serif}.Footer .FooterTop .Foot ul li a:hover{color:#fff}.Footer .FooterTop .Foot .DownloadApp .download-btn{position:relative;overflow:hidden;align-items:center;margin-bottom:10px;display:flex;float:left;margin:0 0 20px 0;min-width:210px}.Footer .FooterTop .Foot .DownloadApp .download-btn span{width:158px;height:46px;border-radius:8px;overflow:hidden;display:block}.Footer .FooterTop .Foot .DownloadApp .download-btn span img{width:100%;height:100%;object-fit:cover}.Footer .FooterTop .Foot .DownloadApp .download-btn p{font-size:20px;line-height:20px;font-weight:500;color:#fff;margin:0;line-height:23px}.Footer .FooterTop .Foot .DownloadApp .download-btn p small{font-size:14px;line-height:12px;font-family:"Quicksand",sans-serif;font-weight:400}.Footer .FooterTop .Foot .DownloadApp a:hover span{color:#111}.Footer .FooterTop .Foot .DownloadApp a:hover p{color:#111}.Footer .Copyright{background:#080808;padding:10px 0}.Footer .Copyright p{color:#fff;font-family:"Quicksand",sans-serif;margin:8px 0}.Footer .Copyright ul{text-align:right}.Footer .Copyright ul li{display:inline-block;margin:0 0 0 6px}.Footer .Copyright ul li a{width:35px;height:35px;display:block;border:2px solid #fff;text-align:center;border-radius:50%;color:#fff;line-height:31px}.Footer .Copyright ul li a:hover{background:#fff;color:#080808}.VideoArea{padding:0 0 30px 0}.VideoArea h1{font-family:"Quicksand",sans-serif;font-weight:800;color:#000;font-size:28px;border-left:5px solid #084d87;padding:0 0 0 16px;margin:0 0 15px 0}.VideoArea h2{font-size:14px;font-weight:400;line-height:24px;color:#000;font-family:"Quicksand",sans-serif;margin:0 0 20px 0}.VideoArea .owl-stage-outer{padding:10px 0 30px}.VideoArea .item{padding:10px}.VideoArea .VideoBox{transform:scale(.9);opacity:.8}.VideoArea .VideoBox a{display:block}.VideoArea .VideoBox figure{background-color:#000;height:250px}.VideoArea .VideoBox figure img{opacity:.8;height:100%}.VideoArea .VideoBox figcaption{padding:15px 20px;font-family:"Quicksand",sans-serif;box-shadow:0 3px 6px #ddd;border-radius:0 0 5px 5px}.VideoArea .VideoBox figcaption h5{margin:0;color:#000;font-family:"Quicksand",sans-serif;font-size:15px}.VideoArea .VideoBox span{width:70px;height:70px;position:absolute;top:80px;left:0;right:0;margin:auto;display:block;border:4px solid #fff;color:#fff;text-align:center;border-radius:50%;font-size:30px;line-height:65px}.VideoArea .VideoBox:hover span{background-color:#fff;color:#000}.VideoArea #Check .center .VideoBox{transform:scale(1.1);opacity:1}#VideoModal .modal-dialog{width:95%;max-width:710px;margin:80px auto}#VideoModal .modal-dialog .modal-content .modal-body{padding:0}#VideoModal .modal-dialog .modal-content .modal-body a.Close{position:absolute;right:-45px;color:#fff;font-size:65px;top:0;height:35px;line-height:37px;font-weight:200}#VideoModal .modal-dialog .modal-content .modal-body iframe{width:100%!important;border:none;margin:0 0 -10px 0;height:400px}



.CompanyArea .owl-carousel .owl-nav .owl-prev,
.CompanyArea .owl-carousel .owl-nav .owl-next,
.CityArea .owl-carousel .owl-nav .owl-prev,
.CityArea .owl-carousel .owl-nav .owl-next,
.VideoArea .owl-carousel .owl-nav .owl-prev,
.VideoArea .owl-carousel .owl-nav .owl-next,
.ExpertiseArea .owl-carousel .owl-nav .owl-prev,
.ExpertiseArea .owl-carousel .owl-nav .owl-next,
.JobSlider.owl-carousel .owl-nav .owl-prev,
.JobSlider.owl-carousel .owl-nav .owl-next{
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    font-weight: 500;
    box-shadow: none;
    box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.16);
    font-size: 28px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    opacity: 1;
    outline: 0;
} 

.CompanyArea .owl-carousel .owl-nav .owl-prev,
.CityArea .owl-carousel .owl-nav .owl-prev,
.VideoArea .owl-carousel .owl-nav .owl-prev,
.ExpertiseArea .owl-carousel .owl-nav .owl-prev,
.JobSlider.owl-carousel .owl-nav .owl-prev{
    left: -20px;
      top: -30px;
}

.CompanyArea .owl-carousel .owl-nav .owl-next,
.CityArea .owl-carousel .owl-nav .owl-next,
.VideoArea .owl-carousel .owl-nav .owl-next,
.ExpertiseArea .owl-carousel .owl-nav .owl-next,
.JobSlider.owl-carousel .owl-nav .owl-next{
    right: -20px;
      top: -30px;
}

.owl-carousel .owl-nav .owl-prev:hover,
.owl-carousel .owl-nav .owl-next:hover{
    background: #00a94f !important;
    color: #fff !important
}

.BG-Gray{background:#f5f7f6!important}.Loadmore{width:200px;background-color:#084d87;display:block;text-align:center;margin:20px auto 50px;padding:14px 0;color:#fff;font-size:16px;border-radius:50px;font-family:"Quicksand",sans-serif;font-weight:500;letter-spacing:.5px}.Loadmore:hover{background-color:#fbaf31;color:#fff}.BannerArea{text-align:center;padding:100px 0 40px 0;color:#fff;background-image:url(https://jobyoda.com/webfiles/img/Philippines.png)!important;background-position:right top}.BannerArea:before{content:"";position:absolute;top:0;left:0;width:100%;height:100%;background-image:linear-gradient(45deg,#084d87,#00a94f)!important;z-index:1}.BannerArea h1{font-family:"Quicksand",sans-serif;font-weight:800;font-size:35px;position:relative;margin:0;z-index:1}.BannerArea h2{font-size:14px;font-weight:400;line-height:24px;font-family:"Quicksand",sans-serif;margin:10px 0 0 0;z-index:1;position:relative}.AboutArea{padding:50px 0}.AboutArea .AboutBox{font-family:"Quicksand",sans-serif}.AboutArea .AboutBox p{margin:0 0 15px 0;font-size:15px;font-family:"Quicksand",sans-serif;font-weight:500;color:#000}.modalbackground:before{content:'';background-color:#000000ad;position:fixed;top:0;left:0;width:100%;height:100%;z-index:9}#VideoModal .modal-dialog .modal-content{box-shadow:none}.modal-opennn{overflow:hidden}.modal-opennn .modal{overflow-x:hidden;overflow-y:auto}.CompanyInfoArea .CompanyInfoLeft .innersliders{height:300px!important}.recomendSlider .item{padding:15px}.managerpart .jobdeskyod .jobtxtsdesc.rfed.fullph .greenbtn{background-color:#00a94f;color:#fff;padding:10px 25px;border-radius:5px;font-family:"Quicksand",sans-serif;font-size:14px;display:inline-block}.managerpart .jobdeskyod .jobtxtsdesc.rfed.fullph .greenbtn:hover{background-color:#fbaf31}
/* ********************************* 28 July ******************************** */
                  
.ExpertiseArea .ExpertiseBox{padding:40px 10px 35px 10px}

.LocationArea{padding:0 0 30px 0}
.LocationArea .item{padding:7px}

.Locations{font-family:"Quicksand", sans-serif}
.Locations figure{background-color:#000;height:175px}
.Locations figure .Gallery{position:absolute;top:10px;left:10px;z-index:9;background-color:#00a94f;width:30px;height:30px;text-align:center;padding:7px 0;border-radius:5px}
.Locations figure .Gallery a{color:#fff}
.Locations figure img{height:100%;opacity:.9}
.Locations figure span.Distance{position:absolute;right:10px;bottom:10px;background-color:#084d87;padding:5px 15px;color:#fff;border-radius:5px}
.Locations figcaption{padding:15px 15px;font-family:"Quicksand", sans-serif;box-shadow:0 3px 6px #ddd;border-radius:0 0 5px 5px;background-color:#fff}
.Locations figcaption h4{margin:0 0 10px}
.Locations figcaption h4 a{color:#000}
.Locations figcaption h4 a:hover{color:#00a94f}
.Locations figcaption h5{margin:0 0 5px;font-size:14px;line-height:21px;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden}
.Locations figcaption p{margin:0;font-size:15px;font-weight:500}

.CompanyInfoArea{padding:50px 0 30px 0}
.CompanyInfoArea .CompanyInfoLeft aside{position:relative;padding:0 0 0 135px;min-height:70px;margin:0 0 20px 0}
.CompanyInfoArea .CompanyInfoLeft aside figure{position:absolute;top:0;left:0;width:120px}
.CompanyInfoArea .CompanyInfoLeft aside h3{margin:0 0 10px;font-family:"Quicksand",sans-serif;font-weight:900;color:#000}
.CompanyInfoArea .CompanyInfoLeft aside h4{margin:0 0 0 0;color:#fbaf31;font-size:20px}
.CompanyInfoArea .CompanyInfoLeft aside h4 i{margin:0 3px 0 0}
.CompanyInfoArea .CompanyInfoLeft article{background-color:#efefef;padding:0 0;border-radius:10px;margin: 10px 0 0 0;}
.CompanyInfoArea .CompanyInfoLeft article ul{display:flex}
.CompanyInfoArea .CompanyInfoLeft article ul li{width:100%;text-align:center;padding: 15px 0;}
.CompanyInfoArea .CompanyInfoLeft article ul li h3{margin: 0 0 5px;font-family:"Quicksand",sans-serif;font-weight:900;color:#00a94f;font-size: 30px;}
.CompanyInfoArea .CompanyInfoLeft article ul li h3 i{ font-size: 25px; }
.CompanyInfoArea .CompanyInfoLeft article ul li h3 span{ font-size: 30px; }
.CompanyInfoArea .CompanyInfoLeft article ul li p{font-family:"Quicksand", sans-serif;font-size: 14px;color:#000;font-weight:500;}
.CompanyInfoArea .CompanyInfoRight h3{margin:0 0 10px;font-family:"Quicksand",sans-serif;font-weight:800;font-size:20px;color:#000}
.CompanyInfoArea .CompanyInfoRight p{font-size:15px;font-family:"Quicksand", sans-serif}
.CompanyInfoArea .CompanyInfoRight ul{margin:30px 0 0 0}
.CompanyInfoArea .CompanyInfoRight ul li{display:inline-block;width: 23%;text-align:center;margin: 10px 0 20px 0;}
.CompanyInfoArea .CompanyInfoRight ul li figure{width: 40px;height: 40px;background-color:#fbaf31;border-radius:50%;margin:0 auto 10px;display:flex;align-items:center;justify-content:center;}
.CompanyInfoArea .CompanyInfoRight ul li figure img{filter:brightness(0) invert(1);width: 25px;}
.CompanyInfoArea .CompanyInfoRight ul li span{font-weight:500;color:#3c3c3c;font-family:"Quicksand", sans-serif}
.CompanyInfoArea .CompanyInfoBottom{margin:20px 0 0 0}
.CompanyInfoArea .CompanyInfoBottom h3{font-family:"Quicksand",sans-serif;font-weight:800;color:#000;font-size:28px;margin:0 0 10px 0}
.CompanyInfoArea .CompanyInfoBottom p{font-size:14px;font-family:"Quicksand", sans-serif;line-height:30px}




/* ********************************************* 29 July 2020 ******************************** */

.JobListingArea{background-color:#ebebeb;padding:50px 0}
.JobListingBox aside{padding:25px;background-color:#fff;border-left:5px solid #00a94f;border-radius:10px;box-shadow:0 3px 10px #a7a7a7;display:block;position:relative;display:flex;font-family:"Quicksand", sans-serif;transition:0.5s all ease-in-out}
.JobListingBox aside+aside{margin:30px 0 0 0}
.JobListingBox aside figure{width:40%;position:relative;height: 180px;}
.JobListingBox aside figure a{display: block;height: 100%;}
.JobListingBox aside figure a img{width: 100%;height: 100%;}
.JobListingBox aside figure span.Wishlist{position:absolute;top:10px;right:10px;height:30px;width:30px;border-radius:20px;background-color:#fff;text-align:center;line-height:31px;color:#00a94f}
.JobListingBox aside figure span.Distance{position:absolute;left: 10px;top: 10px;background-color:#00a94f;padding:5px 15px;color:#fff;border-radius:5px;}
.JobListingBox aside figcaption{width:60%;padding:0 0 0 15px}
.JobListingBox aside figcaption h1{margin: 0 0 8px;font-size:15px;}
.JobListingBox aside figcaption h1 a{color:#5d5c5c}
.JobListingBox aside figcaption h1 a:hover{color:#fbaf31}
.JobListingBox aside figcaption h2{margin: 0 0 7px 0;font-size: 14px;}
.JobListingBox aside figcaption h2 a{color:#00a94f}
.JobListingBox aside figcaption h3{margin:0 0 10px 0;font-size: 14px;}
.JobListingBox aside figcaption h4{display:-webkit-box;-webkit-line-clamp:1;-webkit-box-orient:vertical;overflow:hidden;margin: 0 0 7px;font-size: 13px;font-weight:400;}
.JobListingBox aside figcaption h5{margin: 0 0 7px 0;font-size: 13px;line-height: 20px;color:#000;}
.JobListingBox aside figcaption ul{margin: 0 0 10px 0;}
.JobListingBox aside figcaption ul li{margin: 0 10px 0 0;display: inline-flex;font-family: "Quicksand", sans-serif;font-weight: 500;font-size: 13px;align-items: center;}
.JobListingBox aside figcaption ul li+li:befre{ content: '|'; }
.JobListingBox aside figcaption ul li figure{margin: 0 7px 0 0;width: 20px;height: auto;}
.JobListingBox aside figcaption ul li figure img{ margin: 0 }
.JobListingBox aside figcaption p a{background-color:#00a94f;color:#fff;padding:10px 25px;border-radius:5px;font-family:"Quicksand", sans-serif;font-size:14px;display:inline-block}
.JobListingBox aside figcaption p a:hover{background-color:#fbaf31}
.JobListingBox aside:hover{border-left:5px solid #fbaf31;background-color:#fbfbfb;box-shadow:none}
 
.JobListingRight{background-color:#fff;padding:15px;box-shadow:0 0 20px #b0b0b0;border-radius:6px;overflow:hidden}
.JobListingRight aside{background-color:#ebebeb;padding:15px}
.JobListingRight h3{font-family:"Quicksand",sans-serif;font-weight:800;font-size:17px;margin:0 0 10px;line-height:24px;color:#000}
.JobListingRight h4{margin:0 0 8px;font-size:14px;font-family:"Quicksand", sans-serif;line-height:23px;color:#000}
.JobListingRight p{margin:0 0 10px 0;font-size:13px;line-height:24px;color:#000;font-family:"Quicksand", sans-serif}
.JobListingRight .DownloadApp{position:relative;z-index:2;padding:0 0;display:block}
.JobListingRight .DownloadApp .download-btn{border:1px solid #00a94f;position:relative;overflow:hidden;align-items:center;padding:10px 25px;border-radius:4px;display:flex;float:left;margin:10px 0 0 0;min-width:100%;font-family:"Quicksand", sans-serif;background-color:#fff}
.JobListingRight .DownloadApp .download-btn span{font-size:28px;line-height:28px;margin-right:10px;color:#00a94f}
.JobListingRight .DownloadApp .download-btn p{font-size:19px;font-weight:500;color:#00a94f;margin:0;line-height:21px}
.JobListingRight .DownloadApp .download-btn p small{font-size:13px;line-height:12px;font-family:"Quicksand", sans-serif;font-weight:500}
.JobListingRight .DownloadApp a:hover{background:#00a94f}
.JobListingRight .DownloadApp a:hover span{color:#fff}
.JobListingRight .DownloadApp a:hover p{color:#fff}
.JobListingRight figure{margin:0 0 20px 0}
.FaqArea{padding:50px 0;background-color:#fbfbfb}.FaqArea .FaqLeft .panel-group .panel{border:none;box-shadow:0 1px 6px #ddd;border-radius:6px;overflow:hidden}.FaqArea .FaqLeft .panel-group .panel+.panel{margin:25px 0 0 0}.FaqArea .FaqLeft .panel-group .panel .panel-heading{cursor:pointer;padding:20px 30px;position:relative}.FaqArea .FaqLeft .panel-group .panel .panel-heading h4{font-family:"Quicksand",sans-serif;text-transform:capitalize;color:#000;font-weight:800;margin:0}.FaqArea .FaqLeft .panel-group .panel .panel-body{padding:17px 30px}.FaqArea .FaqLeft .panel-group .panel .panel-body p{font-size:18px;line-height:33px;font-family:"Quicksand",sans-serif;font-weight:500}.FaqArea .FaqLeft .panel-group .panel .panel-heading:after{position:absolute;top:20px;font-family:'FontAwesome';content:'\f101';line-height:20px;font-size:23px;opacity:1;font-style:inherit;right:20px;transform:rotate(90deg)}.FaqArea .FaqLeft .panel-group .panel .panel-heading.collapsed:after{transform:rotate(0deg)}.JobSeekerArea{display:flex}.JobSeekerArea .JobSeekerLeft{width:50%;padding:100px 100px 100px;text-align:center;background-color:#f7f7f7}.JobSeekerArea .JobSeekerLeft span{font-size:60px}.JobSeekerArea .JobSeekerLeft h3{font-family:'Quicksand',sans-serif;font-weight:900;text-transform:capitalize;font-size:40px;margin:0 0 10px 0}.JobSeekerArea .JobSeekerLeft p{font-family:"Quicksand",sans-serif;font-size:14px;line-height:26px;margin:0 0 20px 0;min-height:160px}.JobSeekerArea .JobSeekerLeft a{padding:12px 45px;border-radius:50px;color:#000;font-size:15px;text-transform:inherit;background-color:#fbaf31;display:inline-block;font-family:"Quicksand",sans-serif}.JobSeekerArea .JobSeekerLeft a:hover{background-color:#00a94f;color:#fff}.JobSeekerArea .JobSeekerRight{background-image:url(../images/Employee.png);width:50%;padding:100px 100px 100px;text-align:center;position:relative;color:#fff}.JobSeekerArea .JobSeekerRight:before{content:'';position:absolute;top:0;left:0;width:100%;height:100%;background-color:#000000d6;z-index:1}.JobSeekerArea .JobSeekerRight span{font-size:60px;position:relative;z-index:2}.JobSeekerArea .JobSeekerRight h3{position:relative;font-family:'Quicksand',sans-serif;font-weight:900;text-transform:capitalize;font-size:40px;margin:0 0 10px 0;z-index:2}.JobSeekerArea .JobSeekerRight p{font-family:"Quicksand",sans-serif;font-size:14px;line-height:26px;font-weight:500;margin:0 0 20px 0;z-index:2;position:relative;min-height:160px}.JobSeekerArea .JobSeekerRight a{padding:12px 45px;border-radius:50px;color:#000;font-size:15px;text-transform:inherit;background-color:#fbaf31;display:inline-block;font-family:"Quicksand",sans-serif;position:relative;z-index:2}.JobSeekerArea .JobSeekerRight a:hover{background-color:#00a94f;color:#fff}.WorkArea{padding:50px 0}.WorkArea h1{font-family:"Quicksand",sans-serif;font-weight:800;font-size:35px;position:relative;margin:0 0 40px 0;z-index:1;text-align:center}.WorkArea .WorkLeft{float:left;width:45%;padding:0 0 0 0;position:relative}.WorkArea .WorkLeft figure{position:absolute;top:30px;right:-30px}.WorkArea .WorkLeft h1{font-family:"Quicksand",sans-serif;font-weight:800;font-size:25px;position:relative;margin:0 0 20px 0;z-index:1;text-align:center}.WorkArea .WorkLeft figcaption{position:relative}.WorkArea .WorkLeft figcaption ul{display:flex}.WorkArea .WorkLeft figcaption ul li{text-align:center;width:100%}.WorkArea .WorkLeft figcaption ul li span.Number{display:block;width:30px;height:30px;background-color:#00a94f;border-radius:50px;color:#fff;margin:0 auto 0;font-size:16px;line-height:34px}.WorkArea .WorkLeft figcaption ul li span.Line{display:block;width:2px;height:50px;background-color:#00a94f;margin:auto}.WorkArea .WorkLeft figcaption ul li span.Text{display:block;font-family:"Quicksand",sans-serif;font-size:13px;margin:20px 0 0 0}.WorkArea .WorkImages{width:10%;float:left;padding:5px 0 0 0}.WorkArea .WorkRight{float:left;width:45%;padding:0 0 0 0;position:relative}.WorkArea .WorkRight figure{position:absolute;top:30px;left:-30px}.WorkArea .WorkRight h1{font-family:"Quicksand",sans-serif;font-weight:800;font-size:25px;position:relative;margin:0 0 20px 0;z-index:1;text-align:center}.WorkArea .WorkRight figcaption{position:relative}.WorkArea .WorkRight figcaption ul{display:flex}.WorkArea .WorkRight figcaption ul li{width:100%;text-align:center}.WorkArea .WorkRight figcaption ul li span.Number{display:block;width:30px;height:30px;background-color:#fbaf31;border-radius:50px;color:#fff;margin:0 auto 0;font-size:16px;line-height:34px}.WorkArea .WorkRight figcaption ul li span.Line{display:block;width:2px;height:50px;background-color:#fbaf31;margin:auto}.WorkArea .WorkRight figcaption ul li span.Text{display:block;font-family:"Quicksand",sans-serif;font-size:13px;margin:20px 0 0 0}.JobListingBox #slidelists{width:100%}.FeaturejobBox figure{width:40%;position:relative}.FeaturejobBox figure span.Wishlist{position:absolute;top:10px;right:10px;height:30px;width:30px;border-radius:20px;background-color:#fff;text-align:center;line-height:31px;color:#00a94f}.FeaturejobBox figure span.Distance{position:absolute;left:10px;top:10px;background-color:#00a94f;padding:5px 15px;color:#fff;border-radius:5px}.StatsArea{padding:50px 0 0}.StatsArea h1{font-family:'Quicksand',sans-serif;font-weight:900;text-transform:capitalize;font-size:40px;margin:0 0 40px 0;text-align:center}.StatsArea .StatsBox{text-align:center;background-color:#f9f9f9;padding:25px;border-radius:10px;border:1px solid #ddd;margin:0 0 50px 0}.StatsArea .StatsBox span.Icon{width:70px;height:70px;background-color:#fbaf31;display:block;margin:auto;border-radius:50%;color:#fff;font-size:30px;line-height:67px}.StatsArea .StatsBox h3{font-family:'Quicksand',sans-serif;font-weight:900;text-transform:capitalize;font-size:35px;margin:25px 0 20px 0;text-align:center}.StatsArea .StatsBox p{font-family:"Quicksand",sans-serif;font-size:16px}.forminputspswd label input[type=checkbox]{position:absolute;top:-2px;left:0}.modal-dialog.signopopd .forminputspswd .btn-group{display:block;width:100%;float:left}.modal-dialog.signopopd .forminputspswd .btn-group button.multiselect{width:100%;margin:0 15px 15px 0;font-weight:100;font-family:'Open Sans',sans-serif;color:#717171;padding:12px 22px;border:1px solid #bfbcbc;height:48px;font-size:13px;text-align:left}.modal-dialog.signopopd .forminputspswd .btn-group ul{height:300px;overflow:auto;width:100%}.modal-dialog.signopopd .forminputspswd .btn-group ul li .input-group span{display:none}.modal-dialog.signopopd .forminputspswd .btn-group ul li .input-group input{width:98%;margin:0}.modal-dialog.signopopd .forminputspswd .btn-group ul li .input-group{width:100%}.modal-dialog.signopopd .forminputspswd .btn-group ul li label input[type=checkbox]{position:relative;top:auto;left:auto}.Loader{position:fixed;top:0;left:0;right:0;bottom:0;z-index:9999;background-color:#fff;display:flex;align-items:center;justify-content:center;height:100vh}#pageloader{height:100vh;top:0;left:0}.Circle{border:16px solid #f3f3f3;border-radius:50%;border-top:16px solid #00a94f;border-bottom:16px solid #00a94f;width:120px;height:120px;-webkit-animation:spin 2s linear infinite;animation:spin 2s linear infinite}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
h2.head{font-family:"Quicksand",sans-serif;font-size:24px;color:#3a3a3a}
.inputAll{font-family:"Quicksand",sans-serif;font-size:14px;padding:12px 45px 12px 10px;height:auto;color:#707070;border:.5px solid #70707099;margin-left:0;position:relative;font-weight:300}
.inputAll::placeholder{color:#707070}.iconsArrow{position:absolute;right:15px;top:15px;z-index:9}
.inputAll:focus{outline:none;box-shadow:none;border-color:#70707099}button:focus{outline:none;border:none}.remember{font-size:16px;color:#3a3a3a;font-family:"Quicksand",sans-serif}*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0}.new .form-group input{padding:0;height:initial;width:initial;margin-bottom:0;display:none;cursor:pointer}.new .form-group label{position:relative;cursor:pointer}.new .form-group label:before{content:'';-webkit-appearance:none;background-color:transparent;border:1px solid #707070;border-radius:4px;opacity:1;padding:8px;display:inline-block;position:relative;vertical-align:middle;cursor:pointer;margin-right:8px}.new .form-group input:checked+label:after{content:'';display:block;position:absolute;top:4px;left:7px;width:5px;height:10px;border:solid #3a3a3a;border-width:0 2px 2px 0;transform:rotate(45deg)}.forget a{text-align:center;font:italic normal normal 18px/22px "Quicksand",sans-serif;letter-spacing:0;color:#00A94F;opacity:1}.rememberAl{display:flex;justify-content:space-between}.formPost{position:relative;margin-bottom:15px}.iconsAl{position:absolute;right:15px;top:15px}.btnCom{font-size:16px;color:#fff;font-family:"Quicksand",sans-serif;border:none;width:100%;background:#FBAF31;padding:12px;border-radius:4px}.loginBtn button{margin:20px 0}.accountInfo p{font-size:18px;color:#3a3a3a;font-family:"Quicksand",sans-serif;text-align:left}.accountInfo{text-align:center}.accountInfo p a{color:#00A94F;font-style:italic}.accountInfo p{margin:10px 0 15px}.or{color:#3a3a3a99;font-size:18px;font-family:"Quicksand",sans-serif,Regular;position:relative;margin-bottom:20px;display:inline-block}.or::after{position:absolute;content:'';right:25px;top:12px;width:80px;height:2px;background:#3a3a3a99;border-radius:2px}.or::before{position:absolute;content:'';left:25px;top:12px;width:80px;height:2px;background:#3a3a3a99;border-radius:2px}.socialIcon ul li{display:inline-block;margin-right:15px}.socialIcon ul li:last-child{margin:0}.socialIcon ul{text-align:center}.loginAll{padding:20px 0 100px}.loginLeft{padding:55px 55px 0 0}.loginRight h2{margin-bottom:20px}.otpRight p{font-size:18px;color:#3a3a3a}.otpRight p.text-danger{color:red!important}.otpRight h2{font-size:22px}.otpRight{padding-top:22px}.otpAl{display:flex;padding:12px 0 35px}.otpInput{width:35px;border:none;border-bottom:1px solid #3a3a3a99;margin-right:12px;border-radius:0;box-shadow:none;font-size:18px;font-family:"Quicksand",sans-serif}.otpInput:focus{border-radius:0;box-shadow:none;outline:none;border:none;border-bottom:1px solid #3a3a3a99}.otpInput:last-child{margin-right:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{-webkit-appearance:none;margin:0}.commonBtn1{font:normal normal normal 16px/19px "Quicksand",sans-serif;font-size:16px;color:#fff;min-width:186px;background:#FBAF31;border:none;border-radius:4px;padding:10px}.resendAl{font:normal normal normal 15px/22px "Quicksand",sans-serif;letter-spacing:0;color:#00A94F;display:block;margin-top:10px}.otpDesign{padding:40px 0}inputAll
.inputAll2{font-family:"Quicksand",sans-serif;font-size:16px;padding:12px 12px 12px 10px}.formPost.formPost2{margin:18px 0 35px}.resetPass .commonBtn1{min-width:100%;padding:15px}.forgetRight.otpRight{padding-left:140px;padding-top:40px}.forgetPass{padding:20px 0}.iconsAl.iconsAl2 img{width:75%}.personalFlex{display:flex;justify-content:space-between}.personalFlex .formPost{width:48.5%}.iconDrop{position:relative}.iconDrop .dropAl{position:absolute;top:48px;left:0;width:100%;border:1px solid #70707099;background:#fff;z-index:9;display:none}.dropAl ul li{font-family:"Quicksand",sans-serif;font-size:14px;padding:10px;border-bottom:1px solid #70707099;cursor:pointer}.dropAl ul li:last-child{border:none}.arrowbtn,.staleAll{cursor:pointer}.personalDetail{padding:5px 0 100px}.topSteps{position:relative;width:200px;height:2px;background:#AEAEAE;margin:0 auto;top:95px}.personalSteps{text-align:center;width:100%}.topSteps ul{position:absolute;top:-16px;display:flex;justify-content:space-between;width:100%}.bgPersonal{margin-top:148px;padding-right:50px}.bgBottom{font:italic normal medium 18px/22px "Quicksand",sans-serif;letter-spacing:0;color:#707070;text-align:center;margin-top:25px}.topSteps ul li:first-child::before{position:absolute;content:'Step 1';top:40px;left:0;font:normal normal normal 15px/18px "Quicksand",sans-serif;font-weight:600;letter-spacing:0;color:#3A3A3A}.topSteps ul li:last-child::before{position:absolute;content:'Step 2';top:40px;right:-10px;font:normal normal normal 15px/18px "Quicksand",sans-serif;letter-spacing:0;font-weight:600;color:#3A3A3A}.remember.remember2{text-align:left;font:normal normal normal 16px/19px "Quicksand",sans-serif;letter-spacing:0;color:#3A3A3A}.remember.remember2 span{color:#00A94F}.bgPersonal.bgPersonal2{padding-right:50px;margin-top:200px}.labelAl{font:normal normal normal 16px/19px "Quicksand",sans-serif;letter-spacing:0;color:#3A3A3A;opacity:1}.labelAl span{color:#00A94F;font:italic normal normal 16px/19px "Quicksand",sans-serif}.file-input{display:block;text-align:left;background:#fff;position:relative;border-radius:3px;padding-top:10px}.file-input>[type='file']{position:absolute;top:0;left:0;width:54px;height:100%;opacity:0;z-index:10;cursor:pointer}.file-input>.button{display:inline-block;cursor:pointer;background:#fff;padding:15px 16px;border-radius:2px;border:1px solid #FBAF31;border-radius:7px;margin-right:8px}.file-input>.label{color:#333;white-space:nowrap;opacity:.3}.file-input.-chosen>.label{opacity:1}.topSteps ul li:last-child{background:#cdcdcd;width:33px;height:33px;display:flex;justify-content:center;align-items:center;border-radius:50px}.topSteps ul li.color,.topSteps.topSteps2{background:#00A94F}.form-control[disabled],.form-control[readonly],fieldset[disabled] .form-control{background:#fff}.Congratulations h2{font:normal normal 900 50px/61px "Quicksand",sans-serif;letter-spacing:0;color:#3A3A3A;opacity:1;font-size:39px}.Congratulations p{font:normal normal normal 20px/26px "Quicksand",sans-serif;letter-spacing:0;color:#3A3A3A;opacity:1}.Congratulations{padding:30px 0;width:100%;text-align:center}.congular .commonBtn1{font:normal normal normal 16px/19px "Quicksand",sans-serif;font-size:16px;color:#fff;min-width:375px;background:#FBAF31;border:none;border-radius:4px;padding:13px;transition:all 0.5s ease-in-out}.congular{margin-top:20px}.commonBtn1:hover{background-color:#00a94f;color:#fff}.open>.dropdown-menu{display:block;height:182px;overflow-x:auto}.multiselect.dropdown-toggle.btn.btn-default{width:100%;font-family:"Quicksand",sans-serif;font-size:16px;padding:12px 45px 12px 10px;height:auto;color:#707070;border:.5px solid #70707099;margin-left:0;position:relative;text-align:left;font-weight:100}.btn-group{height:49px!important;width:100%}.multiselect-selected-text{overflow:hidden;width:390px;display:block;white-space:nowrap}.btn .caret{display:none}.sliderJyodonew{padding:25px 0;margin-top:75px}.sliderConInner{text-align:center}.sliderConInner h2{font-family:"Quicksand",sans-serif;color:#000;font-size:24px} 
.sliderJyodo .owl-nav button{position:absolute;top:50%;background-color:#000;color:#fff;margin:0;transition:all 0.3s ease-in-out}.sliderJyodo .owl-nav button.owl-prev{left:0}.sliderJyodo .owl-nav button.owl-next{right:0}.sliderJyodo .owl-dots{text-align:center;padding-top:15px}.sliderJyodo .owl-dots button.owl-dot{width:15px;height:15px;border-radius:50%;display:inline-block;background:#ccc;margin:0 3px}.sliderJyodo .owl-dots button.owl-dot.active{background-color:#000}.sliderJyodo .owl-dots button.owl-dot:focus{outline:none}.sliderJyodo .owl-nav button{position:absolute;top:50%;transform:translateY(-50%);background:rgba(255,255,255,.38)!important}.sliderJyodo span{font-size:70px;position:relative;top:-5px}.sliderJyodo .owl-nav button:focus{outline:none}.sliderJyodo .owl-item.active.center{margin-top:20px}.sliderJyodo .owl-item.active.center .item.caro{background:#00a94f}.sliderJyodo .owl-item.active.center .item.caro h2,.sliderJyodo .owl-item.active.center .pyCon h3,.sliderJyodo .owl-item.active.center .validity p,.sliderJyodo .owl-item.active.center .profileView ul li,.sliderJyodo .owl-item.active.center .profileView ul li span{color:#fff}.sliderJyodo .owl-item.active.center .profileView ul li::before{color:#fbaf31}.sliderJyodo .owl-item.active.center .scribeBtn a{background:#00863f}.item.caro{background:#fcfcfc;padding:20px;text-align:center}.item.caro h2{font-family:"Quicksand",sans-serif;font-weight:800;color:#fbaf31;font-size:28px}.sliderImg{width:135px;margin:0 auto}.sliderImg img{width:100%;height:100%;object-fit:cover}.pyCon span{width:22px;display:inline-block;margin-right:10px;position:relative;height:26px;top:1px}.pyCon span img{width:100%;object-fit:cover}.pyCon h3{font-size:32px;font-family:sans-serif;color:#fbaf31;text-align:center}.validity p{font-size:16px;color:#707070;font-family:"Quicksand",sans-serif}.profileView ul li,.profileView ul li span{font-size:15px;color:#000;font-family:"Quicksand",sans-serif;text-align:left;position:initial}.profileView{padding:20px 0}.item.caro h2{margin-top:0}.profileView ul li{padding-bottom:5px;position:relative;padding-left:85px}.profileView ul li:last-child{padding-bottom:0}.profileView ul li::before{content:"\f00c";font-family:FontAwesome;left:45px;position:absolute;color:#68a83f;top:0}.scribeBtn{width:100%}.scribeBtn a{width:100%;padding:15px;border-radius:6px;color:#fff;font-family:"Quicksand",sans-serif;background:#fbaf31;width:100%;font-size:16px;display:inline-block}.sliderJyodo .owl-carousel .owl-nav button.owl-next,.sliderJyodo .owl-carousel .owl-nav button.owl-prev,.sliderJyodo .owl-carousel button.owl-dot{color:#cdcdcd!important}.sliderJyodo .owl-nav button.owl-prev span{position:absolute;left:-55px!important;top:-175px;font-size:136px}.sliderJyodo .owl-nav button.owl-next span{right:-55px;top:-78px;font-size:136px}.sliderJyodo .owl-nav button span:hover,.sliderJyodo .owl-nav button span{color:#cdcdcd!important}.sliderJyodo .owl-nav button.owl-next:hover,.sliderJyodo .owl-nav button.owl-prev:hover{background:transparent!important}.pyCon span img.activefull{display:none}.sliderJyodo .owl-item.active.center .pyCon h3 span img.unactive{display:none}.sliderJyodo .owl-item.active.center .pyCon h3 span img.activefull{display:inline-block}.sliderJyodo .owl-stage-outer.owl-height{height:100%!important}.sliderConInner{text-align:center;padding-top:60px}.advertNew h3{color:#000;font-family:"Quicksand",sans-serif;font-weight:700;font-size:14px;margin-bottom:0;margin-top:0}.advertNew h3 a{color:#084d87}.advertNew{display:flex;justify-content:space-between;padding:0 12px}.popularSearch{background:#084d87;padding:30px 0}.popularSerIn h1{font-family:"Quicksand",sans-serif;font-weight:800;color:#fff;font-size:28px;border-left:5px solid #fff;padding:0 0 0 16px;margin:0 0 10px 0}.popularSerIn h2{font-size:14px;font-weight:400;line-height:24px;color:#fff;font-family:"Quicksand",sans-serif;margin:0 0 15px 0}.AllBpo li{box-shadow:0 8px 12px 5px rgba(0,0,0,.1);background:#fff;border-radius:10px;width:212px;display:inline-block;margin:15px 15px 0 0;transition:all .4s ease;position:relative}.AllBpo li:hover{transform:translate(0,0) scale(1.1);background:#fbaf31;color:#fff;transition:0.35s ease-in-out}.AllBpo li:hover .bpoContent h2,.AllBpo li:hover .bpoContent p{color:#fff}.AllBpo li:nth-child(5n+5){margin:0}.AllBpo li a{width:100%;padding:30px 20px;display:block}.bpoContent h2{font-family:"Quicksand",sans-serif;font-size:10px;color:#000;padding-bottom:8px;line-height:18px;margin-bottom:0;font-weight:800}.bpoContent p{font-family:"Quicksand",sans-serif;font-size:14px;color:#00a94f}.bpoAll{display:flex;align-items:center;justify-content:space-between;padding:0 8px}.bpoContent{text-align:center}.serachHead h3{font-family:"Quicksand",sans-serif;font-weight:800;font-size:18px;margin:0 0 5px;line-height:29px;color:#000}.serachHead h3 span{color:#fbaf31}.form-group.location label{color:#000;font-family:"Quicksand",sans-serif;font-size:14px}.form-group.location .form-control{font-size:16px;color:#000;border:1px solid ##cccccc70;padding:10px 15px;border-radius:6px;background:#cccccc70;font-family:"Quicksand",sans-serif;height:auto;padding-left:36px}.form-group.location .form-control:focus{box-shadow:none;outline:none;border:1px solid #00a94f}.btns .buttons{padding:10px 38px;color:#fff;border-radius:6px;font-size:16px;border:none;text-transform:inherit;background-color:#fbaf31}.form-group.location .form-control::placeholder{color:#9e9e9e}.searchForm{display:flex;align-items:center;position:relative}.searchForm .form-group:first-child{width:45%;margin-right:15px}.searchForm .form-group:nth-child(2){width:35%;margin-right:15px}.btns{position:relative;top:5px}.searhDrop{background:#fff;padding:0 25px 25px 25px;box-shadow:0 1px 8px #ddd;position:absolute;top:80px;left:0;border-radius:6px;width:98%;z-index:9;display:none}h2.head1{font-size:18px;color:#000;font-family:"Quicksand",sans-serif;font-weight:800}.searhDrop ul li{font-family:"Quicksand",sans-serif;color:#999;min-width:120px;font-weight:400;text-align:center;font-size:13px;background:#cccccc70;border-radius:5px;display:inline-block;margin:8px 7px 0 0;cursor:pointer}.searhDrop ul li label{padding:12px 7px 6px;cursor:pointer}.searhDrop ul li.active,.searhDrop ul li:hover{color:#fff;background:#00a94f;box-shadow:0 6px 5px 2px rgba(0,0,0,.16)}.SearchCompany{position:relative;overflow:hidden;text-align:center;background:#fff;border:1px solid #e8eef1;-webkit-transition:all 300ms linear;-o-transition:all 300ms linear;transition:all 300ms linear;border-radius:6px;-webkit-border-radius:6px;-moz-border-radius:6px;-ms-border-radius:6px;-o-border-radius:6px;-webkit-box-shadow:0 0 30px 0 rgba(0,0,0,.05);box-shadow:0 0 30px 0 rgba(0,0,0,.05);font-family:"Quicksand",sans-serif;cursor:pointer;min-height:104px;width:135px;padding:10px}.SearchCompany figure{width:113px;height:64px;position:relative;margin:0 auto;margin-bottom:37px}.SearchCompany figure a img{width:100%;height:100%;object-fit:scale-down}.SearchCompany figure img{width:100%;height:100%;object-fit:cover}.SearchCompany h2{position:absolute;bottom:15px;left:0;right:0;margin:0 auto;font-size:12px;padding:0 5px;font-family:"Quicksand",sans-serif}#searchCom .item{background:#fff}#searchCom{padding:20px;padding-right:0;background:#f7f7f7;padding-left:10px}.searhDrop ul li .Checkbox input{display:none}#searchCom .owl-nav .owl-prev{left:-15px}#searchCom .owl-nav .owl-prev,#searchCom .owl-nav .owl-next{width:35px;height:35px;background-color:#fff;border-radius:50%;font-weight:500;font-size:20px;position:absolute;top:0;bottom:0;margin:auto;opacity:1;outline:0;box-shadow:0 2px 6px 2px rgba(0,0,0,.16)}#searchCom .owl-nav .owl-next{right:-15px}.SearchCompany:hover{border-color:#ccc;box-shadow:-1px 12px 12px -1px rgba(0,0,0,.16)}.form-group.location{position:relative}.leftImg{margin-right:20px;width:100px!important}.form-group.location .locationPos{position:absolute;left:15px;top:36px;font-size:16px;color:#000}.inputDetails,.locationDetail{background:#fff;padding:15px;box-shadow:0 1px 8px #ddd;position:absolute;top:80px;left:0;border-radius:6px;width:100%;z-index:9}.inputDetails{display:none}.locationDetail{display:none}ul.inputDetails li{margin-top:10px}ul.inputDetails li a{font-family:"Quicksand",sans-serif;font-weight:600;font-size:16px;color:#000;width:100%;display:block;cursor:pointer}ul.inputDetails li span{float:right;display:inline-block}.locationDetail ul li{display:inline-block}.locationDetail ul li img{width:100%px}.locationDetail ul li{cursor:pointer;position:relative;transition:all .4s ease;width:30%;margin:10px 10px 0 0}.locationDetail ul li:nth-child(3n+3){margin-right:0}.locationDetail ul li .CityBox{box-shadow:0 1px 8px #ddd;padding:5px}.locationDetail ul{text-align:center;overflow-y:scroll;overflow-x:initial;height:260px}.locationDetail ul li:hover{transform:translate(0,0) scale(1.1)}.inputDetails::before,.searhDrop::before,.locationDetail::before{content:"";width:0;height:0;overflow:hidden;border-color:#fff transparent transparent;border-style:solid;border-width:25px 25px 10px 0;position:absolute;top:-4px;left:22px;transform:rotate(45deg)}.hotJobs li,.hotJobs li a{color:#000!important;font-size:13px!important}.Header .navbar .navbar-brand img{width:100%!important;object-fit:cover}.AllBpo li.active{background:#fbaf31}.AllBpo li.active .bpoContent h2{color:#fff!important}.AllBpo li.active .bpoContent p{color:#fff}.AllBpo li.active .bpoImg img{transform:scaleX(1.5) scaleY(1.5);transition:0.35s ease-in-out}.Header .navbar .navbar-nav li .aboutHover{background:#084d87;position:absolute;width:150px;box-shadow:0 1px 8px #ccc;z-index:999;padding:15px;border-radius:4px;border:1px solid;display:none}.Header .navbar .navbar-nav li .aboutHover ul li{width:100%}.Header .navbar .navbar-nav li .aboutHover ul li a{font-size:14px;font-weight:400;font-family:"Quicksand",sans-serif;color:#fff;padding:5px 0;display:inline-block;position:relative;transition:all .4s ease;display:inline-block}.Header .navbar .navbar-nav li .aboutHover ul li a:hover{color:#fff;background:transparent}.Header .navbar .navbar-nav li .aboutHover ul li a::before{position:absolute;content:'';bottom:0;height:2px;width:0;background:#fff}.Header .navbar .navbar-nav li .aboutHover ul li a:hover::before{width:100%;transition:all .4s ease}.aboutPos{position:relative;transition:all .4s ease;display:none}.Header .navbar .navbar-nav li.aboutPos:hover .aboutHover{display:block!important;transition:all .4s ease}.hotJobs li a{position:relative}.hotJobs li a::before{content:'';position:absolute;bottom:-5px;width:0%;height:2px;background:#fbaf31;transition:all .4s ease;left:0;right:0;margin:0 auto}
.hotJobs li a:hover{color:#fbaf31!important}.hotJobs li a:hover::before{width:95%;transition:all .4s ease}ul.inputDetails li a:hover{color:#00a94f}.Header .navbar .navbar-nav.navbar-right li a.logoIn{padding:0;border-radius:50px;color:#000;text-transform:inherit;background-color:transparent;position:relative;top:4px}.Header .navbar .navbar-nav.navbar-right li a.logoIn img{width:35px}::-webkit-scrollbar{width:16px!important}.modalContent{display:flex;position:relative}.modalNew .modal-body{padding:0}.modalContLeft{width:35%;background:#0a4f8a;height:100%}.modalNew .modal-dialog{width:650px}.modalContLeft h2{font-family:"Quicksand",sans-serif;font-weight:800;color:#fff;font-size:22px;padding-bottom:15px}.modalContRight{width:65%;background:#f2f2fa;padding:45px 30px}.modalContRight h2,.goldenContent h2{font-size:20px}.iconsGold{width:45px;display:inline-block}.goldenImg{width:150px;margin:12px auto 0}.goldenImg.goldenImg2{width:110px;margin:inherit}.goldenContent h2{color:#fff}.goldenImg img{width:100%;object-fit:cover}.iconsBtn{background:#0a4f8a;color:#fff;padding:4px 10px;border-radius:5px}.goldenContent{padding:0 35px 0 25px;font-size:16px;color:#000000bf;min-width:216px;display:inline-block}.modalContRight ul li{padding:30px 0;border-top:1px solid #ccccccb8}.modalContRight ul{margin-top:30px}.modalClass{padding:80px 0 115px;text-align:center}.iconsGold img{width:100%;object-fit:cover}.modalNew .modal-content{box-shadow:#ccc 0 1px 2px 0;border:0;border-radius:20px;overflow:hidden}.close.closed{position:absolute;right:15px;top:15px;font-size:30px;font-weight:200;color:#fff;padding:4px 10px;border-radius:100%;background:#777;opacity:1}.modalMailTop{background:#0a4f8a;padding:10px 20px;display:flex;align-items:center}.mainSEnd{padding:25px}textarea{resize:none}.textBtn{float:right}.textBtn button,.subPlanButton button{border:none;padding:12px;border-radius:6px;color:#fff;font-family:"Quicksand",sans-serif;background:#fbaf31;font-size:16px;display:inline-block;min-width:100px}.subPlanButton button{min-width:200px}.boxs{float:left;display:block;width:100%}.modalMail{position:relative}.sliderJyodo .owl-item.active.center .pyCon h3{margin-top:5px}.dummyPopup{margin:40px 0}.SlectContent h2{font-size:20px;padding:20px 0}.modalMail.modalMail2{position:relative;text-align:center;padding:35px 30px}.modalNew.modalNew2 .modal-dialog{width:525px}.dummyPopup ul li{display:inline-block;font-size:20px;margin-right:20px}.modalMail.modalMail3{padding:25px}.searchHead h2{border-bottom:1px solid #000;font-size:22px;padding-bottom:15px}.modalNew.modalNew3 .modal-dialog{width:800px}.searchContent{padding:15px 0}.searchContent .textBtn{padding:15px 0 20px 0}.searchContent 
.inputAll.inputAll2{color:#000;font-family:'Open Sans';font-weight:600}.textBtn button:hover,.subPlanButton button:hover{background-color:#00a94f;color:#fff}.personalDetail.personalDetailnew{padding-top:100px}.filterAll{padding:10px;border-radius:8px;background:#fff;box-shadow:0 2px 4px 0 rgba(0,0,0,.16)}.filterHead h2{font-size:18px;color:#000;font-weight:600}.filterHead a{color:#fff;background:#084d87;padding:8px 20px;font-size:16px;border-radius:6px}.filterHead{display:flex;justify-content:space-between;align-items:center}.shortBy h2{font-size:20px;color:#084d87;font-weight:600}.radioAll{display:flex}.radioAll label{font-size:16px;font-weight:500;color:#000;cursor:pointer}.margin_right{margin-left:20px}.form-group.location .locationPos.locationPos2{top:8px}.form-group.location .form-control.form-control2{border:none!important;color:#777}.form-group.location .form-control.form-control2::placeholder{color:#777}.boxs{display:block;width:100%;float:left}.accordian{padding:10px 15px;background:#cccccc70;margin-bottom:15px}.cont_full input{height:18px;width:18px;cursor:pointer}.cont_full label{font-size:16px;font-weight:500;color:#000;margin-left:5px;position:relative;top:-3px;cursor:pointer}.set.set2 .fa{color:#fff;background:#000;padding:5px;width:25px;font-size:15px;border-radius:100%}.set.set2 a{font-size:18px;color:#000;font-weight:500}.set.set2 .fa:before{position:relative;top:1px;left:2px}.set.set2 a span{margin-left:8px}.set.set2 a.active{color:#fbaf31}.set.set2 a.active .fa{background:#fbaf31}.contentAll{padding:10px 0}.notification input{width:20px;height:20px}.notification label{font-size:12px;color:#000;font-weight:500;position:relative;top:-6px;margin-left:5px}.radioAll .form-group{margin-bottom:0}label.error{font-weight:300!important}.scrolllbarr{height:100vh;overflow-y:auto}.lazyAll{display:none}.boxs{float:left;width:100%;display:block}.messanger{background:#f8f8ff;padding:35px;margin:25px 0 0}.messanger h2{font-size:20px;color:#000;font-weight:600;margin:0;text-align:center}.recivedMess,.sendMess{margin-bottom:15px}.recivedMess p,.sendMess p{color:#000;font-size:14px;line-height:22px;font-weight:500;background:#e7ebf6;border-radius:5px 50px 50px 50px;padding:20px 50px;max-width:75%;display:inline-block}.otpDesign .container{padding:0 160px}.sendMess p{color:#fff;background:#ffaa29;float:right;border-radius:50px 5px 50px 50px}.optBtn li{display:inline-block;margin-right:15px}.optBtn li button{color:#000;background:#fff;font-weight:600;border:none;padding:12px 20px;border-radius:8px;box-shadow:0 6px 12px rgba(0,0,0,.175)}.optBtn li button.active{background:#0a4c89;color:#fff}.optBtn li:last-child{margin-right:0}.messchat{padding:50px 0 75px}.optBtn{margin-top:25px}.typeMessage{background:#fff;padding:15px 40px;box-shadow:0 6px 12px rgba(0,0,0,.175)}.typeMessage .form-control::placeholder{color:#ccc}.typeMessage .form-control{font-size:14px;color:#000;background:#f1f1f1;font-weight:500;resize:none;padding:15px 20px;border:none;border-radius:5px;width:85%;display:inline-block}.typeMessage.boxs.boxtextans4 button i{margin-left:10px}.typeMessage.boxs.boxtextans4 button{color:#fff;border:none;font-size:14px;padding:12px 20px;border-radius:8px;box-shadow:0 6px 12px rgb(0 0 0 / 18%);background:#084d87;display:inline-block;float:right;margin-top:15px}.typeMessage .form-control:focus{border:none;box-shadow:none;outline:none}.SearchTop h2{margin-bottom:0px!important}.formPost label.lab{position:absolute;z-index:99;left:10px;background:#fff;top:-7px;padding:0 10px;font-weight:500;color:#084d87}
.inputAll:focus{border-color:#084d87}.formPost.view label{position:inherit;z-index:auto;left:auto;background:transparent;top:auto;padding:0;color:#000}
.formPost.view .dropdown-menu>li>a{padding:3px 20px!important;margin-left:7px; background-color: transparent;}.JobListingBox aside .Wishlist{position:absolute;top:17px;right:10px;height:30px;width:30px;border-radius:20px;background-color:#fff;text-align:center;line-height:31px;border:1px solid #ccc;color:#00a94f}.JobListingBox aside figcaption h1 a{padding-right:18px}.featurerowjob.FeaturejobBox .col-md-3.col-lg-4.tumb{max-width:225px!important;width:255px!important}.featurerowjob.FeaturejobBox .col-md-9.col-lg-8{max-width:510px!important;width:510px!important}.personalDetail #signupform .form-group .dropAl ul{height:250px;overflow:auto}.searhDrop{top:80px;height:300px;overflow:auto}.FilterScroll{height:230px!important;transition:0.5s all ease-in-out}.SideFilter .FilterScroll{height:370px!important}.AllBpo li a{padding:30px 10px;min-height:133px}.AllBpo li .bpoAll{padding:0}.AllBpo li a .bpoImg{width:23%}.AllBpo li a .bpoContent{width:77%}.ActiveSearch{height:133px!important}.messanger{position:relative}.typeMessage.boxs.boxtextans4{position:absolute;bottom:0;left:0}
.inputAll{background:transparent!important}.iconsArrow{z-index:-1}ul.ui-menu li.ui-menu-item a.ui-menu-item-wrapper{padding:6px 15px!important;font-size:13px;border:none!important;outline:0;margin:0!important}ul.ui-menu li.ui-menu-item a.ui-menu-item-wrapper span{padding:0!important}ul.ui-menu li.ui-menu-item a.ui-menu-item-wrapper.ui-state-active{background:#e6e3e3cf!important}.sharebuttoncustom h6:hover{background:#fbaf31}.Congratulations p{font:normal normal normal 17px/25px "Quicksand",sans-serif}.congular .commonBtn1{padding:8px}


.personalRight form .text-danger { 
    font-family: "Quicksand",sans-serif !important;
    margin-top: 5px;
}

.inputAll,
.multiselect.dropdown-toggle.btn.btn-default{ font-weight: 400; }


.glyphicon-search:before { 
    content: "\f002 ";
    font-family: FontAwesome;
}

.glyphicon-remove-circle:before { 
    content: "\f00d  ";
    font-family: FontAwesome;
}


.multiselect-container .multiselect-item .input-group .form-control.multiselect-search{
height: 35px;
    border: 1px solid #ddd;
    box-shadow: none;
}

.multiselect-container .multiselect-item .input-group .input-group-btn button{
        width: 40px;
    height: 35px;
}