

/*jobpostview     */
div#sample-data-table_wrapper {
    max-width: 1300px;
    overflow-x: scroll;
}
table#sample-data-table {
    width: 1300px !important;
    max-width: 1300px;
}
table.dataTable thead nth:-child(7)
{
	width:80px;
}
.mainjob {
    float: left;
    width: 30%;
}
.job {
    float: left;
}
.jobbtn {    
    float: right;
}

/*.ps__rail-y{ display: block !important; opacity: 1 !important  }*/


.bg-secondary{
background-color:none!important;
}
#login .form-wrapper .logo img {
    width: 100%!important;
}
a.btn.btn-icon.deletehit.fuse-ripple-ready {
}
.myprokhg {
    margin: 5% auto;
    width: 53%;
    float: left;
    padding: 0 10px;
}
 div#registers table#sample-data-table
 {
	    max-width: 100%;
		width: 983px!important;
 }
div#registers div#sample-data-table_wrapper {
    max-width: 100%;
    overflow-x: hidden;
}
.myrecruimga {
    float: right;
    margin: 5% auto;
    text-align: center;
    width: 33%;
}
a.btn.btn-light.fuse-ripple-ready {
    background: #27ae62;
    color: #fff!important;
    border-radius: 4px;
}
.myprokhg label {
    font-weight: 600;
}

.formbtncenter {
    float: left;
    width: 100%;
    text-align: center;
}

.formbtncenter a {
    background: #2f9a5d;
}
/* recruiterview   */
.myprokhg {
    margin: 5% auto;
    width: 53%;
    float: left;
    padding: 0 10px;
}

.myrecruimga {
    float: right;
    margin: 5% auto;
    text-align: center;
    width: 33%;
}


.myrecruimga img {
    width: 131px;
    border: 2px solid #ddd;
}

.myprokhg label {
    font-weight: 600;
}

.formbtncenter {
    float: left;
    width: 100%;
    text-align: center;
}

.formbtncenter a {
    background: #2f9a5d;
}

.newfiletrsgree {
    float: left;
    width: 100%;
	    padding: 20px;
}
.source-preview-wrapper

.right {
    padding: 10px 0;
    margin: 20px 0 0 0;
}

.right.main-hda.midlast {
    margin-top: 0px;
}

.managerpart {
    float: left;
    width: 100%;
}

.menuinside ul {
    padding: 0;
    list-style-type: none;
}



.menuinside ul li {
    float: left;
    width: 100%;
    margin-bottom: 25px;
}

.menuinside ul li img, .menuinside ul li p {
    float: left;
    margin: 0;
    line-height: 19px;
}

.menuinside ul li img {
    width: 19px;
    height: 19px;
    margin-right: 10px;
}

.menuinside ul li p,
.menuinside ul li a {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #949191;
    cursor:pointer;
    text-transform: capitalize;
}

.menuinside ul li p:hover,
.menuinside ul li a:hover {color:#27aa60}

.menuinside ul li img.acthover {
    display: none;
}

.menuinside ul li:hover img.acthover{
    display:block;
}

.menuinside ul li:hover img.nonhover{
    display:none;
}

.skillgraph {
    float: left;
    width: 100%;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.skillgraph p {
    font-family: 'Open Sans', sans-serif;
    color: #949191;
    font-size: 13px;
}


.menuinside {
   float: left;
   width: 100%;
   background: #fff;
   padding: 20px 0;
}


.companydtls {
    float: left;
    width: 100%;
    display: flex;
    margin-top: 30px;
}

.logoareas {
    border: 1px solid #ddd;
    margin: auto;
    padding: 30px;
    border-radius: 5px;
    margin-top: 35px;
}

.txtdesc {
    padding: 0 22px;
}

.txtdesc a {
    color: #47b476;
    font-weight: 600;
}

a.rightedits {
    float: right;
}

.companythumbs {
    float: left;
    width: 100%;
    margin: 30px 0;
}

a.rightedits {
    float: right;
    color: #a79c9c;
}
i.fa.fa-heartbeat {
    padding: 9px 30px;
    margin: 5px 36px;
    width: 69%;
    height: 38px;
}
.logoareas.noborder {
    border: none;
    padding: 0;
    margin: 0px 0 0 0;
}

.txtdesc {
    padding: 0 22px;
    width: 87%;
}

/* filter css */


.filterchekers ul {
    padding: 0;
    list-style-type: none;
    float: left;
    width: 100%;
    margin: 0;
}

.filterchekers ul li {
    text-align: center;
    width: 12%;
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 0 43px 14px 0;
    position: relative;
}

.filterchekers {
    float: left;
    width: 100%;
}

.formsrches {
    float: left;
    width: 100%;
}

.filterchekers ul li i {
    font-size: 24px;
    color: #27aa60;
    padding: 14px 42px;
    box-shadow: #adadad 1px 1px 6px 0px;
    border-radius: 25px;
    margin-bottom: 6px;
    text-align: center;
}

.filterchekers ul li p {
    font-size: 12px;
    width: 100%;
    margin: 0 auto;
    line-height: 21px;
    margin-top: 15px;
}

.filterchekers ul li:hover i, .filterchekers ul li p.txtonly:hover {
    background: #27aa60;
    color: #fff;
    cursor: pointer;
	    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
}

.filterchekers ul li p.txtonly {
    color: #27aa60;
    padding: 14px 3px;
    box-shadow: #adadad 1px 1px 6px 0px;
    border-radius: 25px;
    text-align: center;
    margin-bottom: 6px;
    padding: 16px 0px;
}

.filterchekers ul li p.txtonly.lettbigg {
    font-size: 29px;
    padding: 4px 0;
    font-weight: 600;
}

.flip {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph;
    filter: fliph;
}

.filrgt {
    box-shadow: #adadad 1px 1px 6px 0px;
    background: none;
    border: none;
    border-radius: 20px;
    padding: 5px 21px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #27aa60;
    cursor: pointer;
    outline: none;
}

.filrgt i {
    font-size: 12px;
    color: #484848;
}

.mapsectionapp img {
    width: 66%;
}

.companyprofileforms {
    margin: 30px 0 0 0;
    float: left;
    width: 100%;
}

.uploadareas {
    text-align: center;
    position: relative;
}

.uploadareas input[type="file"] {
    opacity: 0;
    position: absolute;
    padding: 4%;
    width: 16%;
    cursor: pointer;
}

.uploadareas button {
    position: absolute;
    margin: 0 0 0 38px;
    right: 16%;
    border-radius: 5px;
}

.filldetails {
    float: left;
    width: 100%;
    padding: 0 0  0 0px;
    margin: 30px 0 0 0;
}

.filldetails input.form-control {
    float: left;
    width: 23%;
    margin: 0 15px 15px 0px;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
    color: #717171;
    padding: 12px 22px;
    border: 1px solid #bfbcbc;
    height: 48px;
    background:#fff;
    font-size: 13px;
}

.filldetails textarea.form-control{
	 font-family: 'Open Sans', sans-serif;
    color: #717171;
    padding: 12px 22px;
    border: 1px solid #bfbcbc;
}

.filldetails input.form-control:focus {
    box-shadow: none;
    border: 1px solid #27aa60;
}

.companyprofileforms h6 {
    text-align: center;
    color: #26ae61;
    margin: 40px 0 0 0;
    font-weight: 500;
}

.companyprofileforms {
    width: 100%;
}

.companyprofileforms.fullwidthform .filldetails input.form-control {
    width: 100%;
}

.companyprofileforms.fullwidthform h6 {
    margin: 0;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: #000;
    padding-bottom: 12px;
    font-size: 20px;
    font-weight: 500;
}

.companyprofileforms.fullwidthform .filldetails {
    float: none;
    width: 52%;
	margin: 30px auto;
}

.filldetails textarea.form-control {
    font-family: 'Open Sans', sans-serif;
    color: #717171;
    padding: 12px 22px;
    border: 1px solid #bfbcbc;
	    font-size: 13px;
		    margin: 0 15px 15px 0px;
}

.filldetails button {
    width: 100%;
    background: #27aa60;
    border: none;
    color: #fff;
    padding: 13px;
    border-radius: 6px;
    margin-top: 10px;
    cursor: pointer;
    display: block;
    text-align: center;
}

.backgrounposionar {
    background: #f1f1f1;
       padding: 30px;
    float: left;
    width: 100%;
}

.col-md-12.nopadds {
    padding: 0;
}

.positiondispl {
    float: left;
    width: 50%;
}

.positiondispl {
    float: left;
    width: 31%;
}

.positiondispl p {
    margin: 0;
    float: left;
    font-size: 20px;
    color: #000;
	    font-weight: 600;
}

.positiondispl span {
    margin: 3px 0 0 5px;
    float: left;
    font-size: 20px;
    color: #47b476;
}

.positiondispl a.edipro {
    float: right;
    background: #47b476;
    color: #fff;
    padding: 6px 14px;
    border-radius: 20px;
}

.locateuser {
    float: left;
    width: 52%;
}

.locateuser p {
    font-size: 14px;
    margin: 0;
    color: #737373;
}


.positionvacant {
    float: right;
    width: 55%;
}

.icoentry {
    width: 63px;
    height: 44px;
    text-align: center;
    background: #47b476;
    border-radius: 100%;
    margin: auto;
    float: left;
}

.icoentry img {
    margin: 9px 0 0 0;
}

.rounddtls {
    display: flex;
    width: 33%;
    float: left;
    flex-direction: row;
}

.icoentxtbase {
    width: 100%;
    margin: auto;
    margin-left: 10px;
}

p.designdata {
    margin: 0;
    float: left;
    font-size: 20px;
    color: #000;
    font-weight: 500;
}

.icoentxtbase span {
    margin: 3px 0 0 5px;
    float: left;
    font-size: 18px;
    color: #47b476;
    font-weight: 500;
}


.appstats {
    padding: 30px;
    float: left;
    width: 100%;
    border-right: 1px solid #ddd;
}

.applicationcount {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.appfeedct {
    width: 100%;
}

.appfeedct h6 {
    float: left;
    margin: 0px 0 0 6px;
	    font-weight: 600;
    color: #000;
}

.appfeedct span {
    margin: 0 0 0 5px;
    float: left;
    font-size: 17px;
    color: #47b476;
    font-weight: 500;
}


.userprpanel {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    width: 100%;
    float: left;
    margin: 0px 0 15px 0;
}

.profilepic {
    border-radius: 100px;
    width: 69px;
    float: left;
    border: 1px solid #ddd;
    margin-right: 10px;
}

.profiledtat {
    float: left;
}

.profiledtat p {
    margin: 0;
    line-height: 21px;
    font-size: 14px;
}

p.usrnm {
    color: #000;
    font-weight: 600;
    font-size: 17px;
}

.rateprof {
    position: absolute;
    right: 28px;
    display: flex;
    flex-direction: row;
    color: #47b476;
}

.rateprof i {
    margin: auto;
}

.rateprof p {
    margin: 0 0 0 6px;
    font-weight: 600;
    color: #47b476;
}

.mailerstelco {
    float: left;
    width: 100%;
	    margin: 10px 0 0 0;
}

.mailerstelco p.rgtflo {
    float: right;
}

.mailerstelco p {
    float: left;
	margin:0;
}

.mailerstelco span {
    margin-left: 6px;
    font-size: 14px;
}

.row.nopaddrow .col-lg-4 {
    padding: 0;
}

span.ratings {
    width: 10%;
    display: inline-block;
    color: #47b476;
}

span.ratings i {
    float: left;
    color: #47b476;
}

span.ratings p {
    color: #47b476;
    margin: 0;
}

.notifypanel {
    display: flex;
    float: left;
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
}

.txtnotify h4 {
    margin: 0;
    color: #47b476;
    font-size: 18px;
    font-weight: 500;
}

.txtnotify p {
    margin: 0;
	font-size: 14px;
}

.usrpicsd {
    float: left;
    width: 9%;
}


.companyprofileforms .nav-tabs .nav-item.show .nav-link, .companyprofileforms .nav-tabs .nav-link.active {
    border-bottom: 3px solid #47b476;
    color: #bbb9b9;
    border-radius: 0px;
    border-left: 0px;
    border-top: none;
}

.companyprofileforms .nav.nav-tabs {
    border: none;
}

.companyprofileforms .nav.nav-tabs > li {
    margin-right: 10px;
    border-right: 1px solid #ddd;
}

.companyprofileforms .nav.nav-tabs > li:last-child {
    border-right: none;
}

.companyprofileforms .nav-tabs .nav-link:focus, .companyprofileforms .nav-tabs .nav-link:hover {
    border-color: #e9ecef #e9ecef #dee2e6;
    border: none;
	    border-bottom: 3px solid #47b476;
		border-radius: 0px;
}

.companyprofileforms .nav.nav-tabs > li a{color: #a0a0a0;font-family: 'Open Sans', sans-serif;font-weight: 100;font-size: 15px;text-decoration: none;}

p.ratenum {
    margin: 0;
    font-size: 22px;
    color: #47b476;
    font-weight: 600;
}

.points-txt {
    float: left;
    width: 100%;
	    margin-top: 17px;
}

.points-txt h5 {
    margin: 0;
	    font-size: 18px;
}

.slarysets h5 {
    margin: 0;
	    font-size: 18px;
		font-weight: 500;
    color: #000;
}

.slarysets {
    margin-top: 20px;
}

.filterchekers ul li i {
    text-align: center;
}

input[type="checkbox"], input[type="radio"] {
    position: absolute;
    opacity: 0;
    z-index: 9;
    margin: 0;
    left: 0;
    right: 0;
    padding: 46px 0;
    height: 56px;
    width: 99px;
    margin: auto;
}

.filterchekers ul li:hover i, .filterchekers ul li p.txtonly:hover, .filterchekers ul li.selectedgreen i, .filterchekers ul li.selectedgreen p.txtonly {
    background: #27aa60;
    color: #fff;
    cursor: pointer;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    margin: auto;
    padding: 24px 0px;
    line-height: 0;
    width: 99px;
}

.filterchekers ul li i {
}

.filterchekers ul li i.s-4 {
    font-size: 26px !important;
    margin-top: 20px !important;
}

.filterchekers ul li ii.s-4, .filterchekers i.s-4, .filterchekers [class^="icon-"].s-4, .filterchekers [class*=" icon-"].s-4 {
    font-size: 24px;
    color: #27aa60;
    padding: 14px 42px;
    box-shadow: #adadad 1px 1px 6px 0px;
    border-radius: 25px;
    margin-bottom: 6px;
    text-align: center;
}
/*companysite   */

.companydtls {
    float: left;
    width: 100%;
    display: flex;
    margin-top: 30px;
}

.logoareas {
    border: 1px solid #ddd;
    margin: auto;
    padding: 30px;
    border-radius: 5px;
    margin-top: 35px;
}

.txtdesc {
    padding: 0 22px;
}

.txtdesc a {
    color: #47b476;
    font-weight: 600;
}

a.rightedits {
    float: right;
}

.companythumbs {
    float: left;
    width: 100%;
    margin: 30px 0;
}

a.rightedits {
    float: right;
    color: #a79c9c;
}

.logoareas.noborder {
    border: none;
    padding: 0;
    margin: 30px 0 0 0;
}

.txtdesc {
    padding: 0 22px;
    width: 87%;
}

.mainadminyoda .widget-header.pl-4.pr-2.row.no-gutters.align-items-center.justify-content-between {
    text-align: center;
}

.mainadminyoda .widget-header.pl-4.pr-2.row.no-gutters.align-items-center.justify-content-between span {
    font-size: 20px;
}
table.dataTable tbody td i.icon.icon-block-helper.s-4 {
    color: red;
}

table.dataTable tbody td i.icon.s-4.icon-eye {
    color: #383333;
    font-size: 20px;
}

table.dataTable tbody td i.icon.s-4.icon-eye {
    color: #383333;
    font-size: 20px;
}

table.dataTable tbody td  i.icon.icon-pencil.s-4 {
    color: #0a4c89;
    font-size: 16px;
}

table.dataTable tbody td i.icon.s-4.icon-trash {
    color: red;
    font-size: 20px;
}

 .companytables table.dataTable tbody td{
	 vertical-align: top;
 }
 
 .clasetis label {
    font-weight: 500;
    font-size: 16px;
}

.fullwhit {
    background: #fff;
    width: 100%;
    padding: 0 19px;
}

.fullwhit .form-group {
    margin: 0;
    font-size: 15px;
} 

.jobseekdres .asses {
    margin: 0 0 30px 0;
    float: left;
}

.jobseekdres  .cust {
    margin: 0 0 30px 0;
}

.mainheadicos i.icon.s-4{
    font-size: 30px;
    margin: 11px 0 0 0;
    float: left;
}


.mainheadicos {
    float: left;
    width: 32px;
}

table.dataTable tbody td a.pendbtn {
    background: #46a56f;
    border-radius: 0px !important;
    color: #fff;
    font-size: 11px;
    padding: 4px 6px;
    box-shadow: #bdbdbd 1px 1px 5px 0px;
}

@media (max-width: 767.98px)
{
.col-auto {
    float: left;
    width: 100%;
    text-align: center;
}
.myprokhg {
    margin: 5% auto;
    width: 100%;
    float: left;
    padding: 0 10px;
}
.myrecruimga {
    float: right;
    margin: 5% auto;
    text-align: center;
    width: 100%;
}
.myprokhg p {
    font-size: 9px;
}
.mainjob {
    float: left;
    width: 100%;
}
.job {
    float: left;
    width: 50%;
}
}



 .srcljobyd {
    width: 100%;
    height: 179px;
    overflow-y: scroll;
} 



.example.scrollmobusr{
    max-width: 1300px;
    overflow-x: scroll;
}


.example.scrollmobusr .source-preview-wrapper{
        width: 120%;
    min-width: 1500px;
    overflow: hidden !important;
} 

.example.scrollmobusr .source-preview-wrapper .dataTables_length label{     margin: 0 0 0 30px; } 

div#sample-data-table_wrapper {
    max-width: inherit;
    overflow-x: scroll;
}





@media screen and (max-width: 767px) and (min-width:320px){
	
table#sample-data-table{max-width: 673px;}

}

.example.scrollmobusr {
    height: 600px!important;
    overflow-y: scroll!important;
}