@charset "utf-8";
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

.clear{
    clear: both
}

.Logo{
    float: left;
    width: 240px;
    margin: 10px 0;

}

.Logo a{
    display: block;
}

.Logo a img{
    width: 100%;
}

.stick-top.hdafxd {
    position: fixed;
    top: 0 !important;
    left: 0 !important;
    animation: headerfade 1s;
    transition: all ease-in 1s; 
}

@keyframes headerfade{
    0%{opacity:0;}
    100%{opacity:1;}
}
 

/*
.stick-top{
    transition: 0.5s all ease-in-out !important
}

.stick-top.hdafxd { 
    animation: inherit !important;
}

.hdafxd{
    transition: 0.5s all ease-in-out !important;
}

.menu-sec{
    transition: 0.5s all ease-in-out !important;  
}

.hdafxd .menu-sec{  
    padding: 5px 0px
}

.hdafxd{animation:0.7s ease 0s normal none 1 running slide-down !important;}
@keyframes slide-down{
    0%{opacity:0;transform:translateY(-100%)}
    100%{opacity:.9;transform:translateY(0)}
}
*/

.Sidenavbar{
    transition: all 0.4s ease 0s;
}

.MainWrapper{
    /* min-height: 100vh; */
    top: 95px;
}

.Jobyodadata{
    float: right;
}

.Jobyodadata ul li{
    display: inline-block;
    text-align: center;
    color: #fff;
        margin: -8px 0px -4px 30px;
}

.Jobyodadata ul{
    text-align: right;
}

.Jobyodadata ul li h4{
    font-family: 'Quicksand', sans-serif !important;
    font-weight: 600;
    font-size: 13px;
    margin: 0 0 5px 0;
}

.Jobyodadata ul li span{
    display: block;
    font-size: 17px;
    font-weight: 600;
    background-color: #084d87;
    color: #fff;
    padding: 6px 30px;
    border-radius: 7px;
    font-family: 'Quicksand', sans-serif !important;
    min-width: 110px;
}

.Jobyodadata ol{
    list-style: none;
    margin: 12px 10px 10px 0;
    text-align: right;
}

.Jobyodadata ol li{
    display: inline-block;
    margin: 0 0 0 30px;
}

.Jobyodadata ol li a{
    font-family: 'Quicksand', sans-serif !important;
    color: #fff;
    list-style: none;
    font-weight: 600;
    font-size: 14px !important
}

.Jobyodadata ol li a img{
    filter: brightness(0) invert(1);
    width: 17px;
    margin: 0 7px 0 0;
}

.Jobyodadata ol li a:hover{
    text-decoration: underline;
}

.specialism_widget .simple-checkbox  #filtersid{
    padding: 0 15px;
    background-position: 97% !important;
    background-size: 10px !important;
}

.InfoCircleBox{
    position: absolute;
    top: 14px;
    right: -34px;
    font-size: 25px;
}

.companyprofileforms.fullwidthform h6{
    font-weight: 600 !important;
    color: #000;
}

.stepsinfosd p sup{
    top: -6px;
    color: red;
}

.Red-text{
    color: red !important
}

h3.sb-title.open, .widget > h3 {
    margin: 0px 0 0 !important;
}

.simple-checkbox select{
    padding: 8px 10px
}

.rgtprev .mailayer .uploadareas {
    border: 2px solid #26ae61 !important;
    border-top: none !important;
}


p.Dimension {
    margin: 10px 0 10px 0;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
}

.ProfileArea{
    display: flex;
    float: right;
}

.Profilebox{
    position: relative;
    padding: 0;
    text-align: center;
    margin: 0px 0 0px 0px;
}
.Profilebox figure{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 7px;
}
.Profilebox figure img{
    width: 100%;
    height: 100%;
}

.Profilebox h1{
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif !important;
    margin: 0;
    font-weight: 600;
}

.Profilebox p{
    text-align: left;
    color: #fff;
    font-size: 13px;
    font-family: 'Quicksand', sans-serif !important;
    margin: 0;
    font-weight: 600;
    line-height: 20px;
}

.filtersnavs {
    overflow-y: inherit;
}


.FacebookLink {
    font-family: 'Quicksand', sans-serif !important;
    color: #fff;
    font-weight: 600;
    float: right;
    padding: 5px 11px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 0 0 10px;
}

.FacebookLink a {
    border: 2px solid #fff;
    padding: 10px 15px;
    display: inline-block;
    border-radius: 6px;
    font-size: 15px;
    transition: 0.5s all ease-in-out;
    background-color: #fff;
    text-decoration: none;
    color: #084d87;
}

.FacebookLink span {
    margin: 0 0 0 6px;
}

.FacebookLink a:hover {
    background-color: #084d87;
    color: #ffffff;
    text-decoration: none;
} 

.menuinside ul li a,
.menuinside ul li a:hover{
    text-decoration: none;
}


.ClientArea {
    padding: 20px 0 0;
    background-image: url(https://jobyoda.com/webfiles/img/newmap.jpg);
    min-height: 97vh
}

.ClientLogo{
    padding: 0 50px;
    text-align: center;
    position: relative;
    z-index: 9;
    margin: 0 0 40px 0;
}
.ClientLogo figure{
    width: 170px;
    float: left;
}
.ClientLogo figure a{
    display: block;
}
.ClientLogo figure a img{
    width: 100%
}

.ClientLogo h1{
    margin: 0px 0;
    display: block;
    color: #fff;
    font-weight: 600;
    font-size: 27px;
    text-transform: capitalize;
    text-align: center;
}

.ClientLogo ul{
    float: right;
}
.ClientLogo ul li{
    display: inline-block;
    margin: 0 5px;
}
.ClientLogo ul li a{
    border: 2px solid #fff;
    padding: 7px 15px;
    display: inline-block;
    background-color: #fff;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
}
.ClientLogo ul li a:hover{
    background-color: #197cb4;
    color: #fff;
}


.ClientArea:before {
    content: ''; 
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-color: #00000000;
}
.ClientArea h4 {
    position: relative;
    margin: 0 0 10px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
    color: #ffffff;
    font-size: 27px;
    letter-spacing: .5px;
    font-family: 'Alegreya SC',serif;
    line-height: 29px;
}
.ClientArea h2 {
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    line-height: 28px;
    text-align: center;
    margin: 0 0 30px;
    font-family: 'Alegreya SC',serif;
    position: relative;
}
.ClientArea .ClientBox{text-align:center;padding:20px;background-color:#fff;border-radius:10px; transform:scale(.9);min-height:400px}

/*.ClientArea .ClientBox figure{width:100px;height:100px;border-radius:50%;border:2px solid #27a4dc;padding:0;margin:0 auto 10px}*/

.ClientArea .ClientBox figure{width:173px;height:91px;border:0px solid #27a4dc;padding:0;margin:0 auto 10px}

/*.ClientArea .ClientBox figure img{border-radius:50%;border:5px solid #fff; height: 100%}*/

.ClientArea .ClientBox figure img{border:5px solid #fff; height: 100%}

.ClientArea .ClientBox h3{margin:0 0 6px;font-size:19px;font-weight:600;color:#000; text-transform: capitalize;}
.ClientArea .ClientBox h4{font-size:15px;font-weight:400;line-height:21px;color:#269fd8;margin:0 0 10px}
.ClientArea .ClientBox p{font-size: 13px;line-height: 25px;font-family: Roboto;}
.ClientArea .owl-item.center .ClientBox{transform:scale(1);background-image:linear-gradient(45deg,#084d87,#29aae0)}
.ClientArea .owl-item.center .ClientBox figure{border-color:transparent}
.ClientArea .owl-item.center .ClientBox h3,
.ClientArea .owl-item.center .ClientBox h4{background:none;-webkit-text-fill-color:white}
.ClientArea .owl-item.center .ClientBox p{color:#fff}
.ClientArea .owl-nav .owl-prev,
.ClientArea .owl-nav .owl-next{font-size:55px!important;line-height:35px!important;color:#696969!important;outline:0;position:absolute;top:0;height:40px;bottom:0;margin:auto!important}
.ClientArea .owl-nav .owl-prev:hover,
.ClientArea .owl-nav .owl-next:hover{color: #26a0d9 !important;}
.ClientArea .owl-nav .owl-prev{left:-20px}
.ClientArea .owl-nav .owl-next{right:-20px}
.ClientArea .owl-dots{text-align:center;margin:20px 0 0 0; display: none;}
.ClientArea .owl-dots .owl-dot{width:10px;height:10px;border-radius:50%;margin:0 3px;background-color:#ccc;outline:0}
.ClientArea .owl-dots .owl-dot span{display:block}
.ClientArea .owl-dots .owl-dot.active{background-color:#03afe7}
 


.LoginArea{
    background-image: url(https://jobyoda.com/webfiles/img/newmap.jpg) !important;
    padding: 50px 0 !important;
    min-height: 95vh;
    margin: 0px !important; 
}
.LoginArea .jobyodaformlogo{
    margin: 0 0 20px;
}

.LoginArea .jobyodaformlogo img{
    width: 21%;
    filter: brightness(0) invert(1);
}

.LoginArea .sign{
    margin: 15px 0 0 0;
}
.LoginArea .sign p{
    color: #fff;
    margin: 0;
}
.LoginArea .sign p span{
    color: #fff;
    text-decoration: underline;
    margin: 0 0 0 6px;
}


#Testimonial{}

#Testimonial .modal-dialog{
    width: 40%;
    margin: 100px auto;
    text-align: center;
}

#Testimonial figure{
    width: 260px;
    margin: 0 auto 20px;
}
#Testimonial figure img{
    width: 100%;
}

#Testimonial a.Close{
    position: absolute;
    top: -13px;
    right: -13px;
    width: 26px;
    height: 26px;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 26px;
    color: #000;
    font-weight: 600;
    border: none;
    padding: 0;
}
#Testimonial h3{
    font-size: 18px !important;
    text-transform: capitalize;
    color: #084d87;
    font-weight: 700;
    text-align: center;
    margin: 0 0 10px;
}
#Testimonial p{
    text-align: center;
    margin: 0 0 20px 0;
    font-size: 15px;
    color: #3a3a3a;
    font-weight: 600;
}


#Testimonial a{
    border: 2px solid #084d87;
    padding: 9px 25px;
    display: inline-block;
    border-radius: 6px;
    font-size: 15px;
    transition: 0.5s all ease-in-out;
    background-color: #084d87;
    text-decoration: none;
    color: #ffffff;
}

#Testimonial a:hover{
    background-color: #26b060;
    border-color: #26b060;
}


header.stick-top{ 
    position: fixed !important;
}


aside.col-md-3.col-lg-2.column.border-right.Sidenavbar{
    /*position: fixed;*/
    width: 16.67%;
    z-index: 9;
    top: 110px;
    background-color: #fff;
    height: 80%;
    overflow: auto;
    padding: 15px 0 0 0 !important;
}

.col-md-9.col-lg-10.psthbs.MainWrapper {
    float: right;
    -webkit-box-flex: inherit;
    flex: auto;
    max-width: initial;
    width: 83.333333%;
    margin: 0px 0 0 0px;
    padding-top: 22px;
}

.forminputspswd.loginspace button.Resetpassword{
    float: none;
    width: 170px !important;
    font-size: 15px !important;
    letter-spacing: 0 !important;
    margin: 10px auto 10px;
    padding: 10px 0 !important;
}












/* ******************************* Responsive CSS **************************** */

@media screen and (max-width: 992px) and (min-width: 769px) {

    .ClientArea .container{max-width: inherit; width: 100%}

}

@media screen and (max-width: 769px) and (min-width: 500px) {

    .ClientArea{ min-height: inherit; padding: 20px 0 90px 0;}
    .ClientLogo{ padding: 0 10px; }
    .ClientLogo figure{ width: 150px; }
    .ClientLogo h1{ margin: 10px 0 0 0; font-size: 25px; float: left; width: 100%; display: block; }
    .ClientLogo ul{ margin: 4px 0; }
    .ClientLogo ul li a{ font-size: 13px;}
    .ClientArea .container{max-width: inherit;}
    
    .footerrecruiter .addressar,
    .alinflow{ float: left; display: block; width: 100% !important }
 
}

@media only screen and (max-width: 500px){

    .ClientArea{ min-height: inherit; padding: 20px 0 90px 0;}

    .ClientLogo{ padding: 0 10px; }
    .ClientLogo figure{ width: 150px; }
    .ClientLogo h1{margin: 10px 0 0 0;font-size: 25px;float: left;width: 100%;}
    .ClientLogo ul{ margin: 4px 0; }
    .ClientLogo ul li a{ font-size: 13px;}
    .ClientArea .owl-item.center .ClientBox{ transform: scale(0.9); }

    .footerrecruiter .addressar,
    .alinflow{ float: left; display: block; width: 100% !important }




}



